<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner blog_details_page">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>Calculate Your Tax Return FY 23-24 Under New Tax Regime and Old Tax Regime </h1>
                            <h5>Written by Gagandeep Arora - <span>Date - 3rd Feb 2023</span></h5>
                            <p>Anyone who has an income that crosses a specific threshold is required to pay taxes. Income Tax is the tax that is levied by the Central Government on the income earned during the financial year by individuals and businesses.
                                The most confused any intelligent man becomes when asked to calculate taxes.</p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images/blogs_banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Details Pages -->
    <div class="blog_detail_section all_containe">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-9">
                    <article>
                        <h2>Calculate Your Tax Return FY 23-24 Under New Tax Regime and Old Tax Regime</h2>
                        <p>Anyone who has an income that crosses a specific threshold is required to pay taxes. Income Tax is the tax that is levied by the Central Government on the income earned during the financial year by individuals and businesses. The
                            most confused any intelligent man becomes when asked to calculate taxes. But technology has made life convenient for all of us. The introduction of an <a href="#">Income Tax Calculator FY 2023-24</a> is a great help for a taxpayer
                            to calculate the Income Tax online that they are liable to pay in a financial year. It is a great online tool to help you plan your investments too as every year. This is a great tool for an assessee to analyse well in advance
                            their tax liability. This article will help you understand how to use this online tool to calculate income tax liability according to the new tax regime.</p>
                        <div class="imgesbox">
                            <img src="/Images/blogs_details.png" alt="">
                        </div>
                        <h3>Income Tax Calculator Fy23-24 </h3>
                        <p>very year this tool is updated according to the changes given in the budget. The Income-tax slab for FY 2023-24 has been updated on our <a href="#">Income Tax Calculator Fy23-24</a> for your convenience. Let's check out the steps
                            to use it furthermore-</p>
                        <ul>
                            <li>The first step is to select the assessment year for which you are calculating the tax liability.</li>
                            <li> Now we select ourselves as the respective head we are filing tax under such as Individual, HUF, AOP/BOI, Domestic Company, Foreign Company, Firms, LLP, Co-operative society.</li>
                            <li>The third step is to check in our gender or if you fall under senior citizen, needs to be categorised separately.</li>
                            <li>We need to fill in our taxable income after deducting HRA, LTA and Standard deduction.</li>
                            <li>A few other details need to be checked like interest income, rental income, and interest paid on the home loan.</li>
                            <li>If you want to calculate your taxes under the old tax slab then you need to enter the amount for tax-saving investments under sections 80C,80D,80G,80E, and 80TTA.</li>
                            <li>Now, you will get the result in the old tax regime and the new tax regime so you can go ahead with your choice and whatever is more beneficial for you.</li>
                        </ul>
                        <h3>Conclusion- Get set Go</h3>
                        <p>A few simple steps and you are all set to compute your tax liability sitting at home. This online tool is helpful in not only calculating your tax liability but in making decisions regarding tax-saving investments. As before starting
                            of the year, it will help you in planning your investments. Make use of the <a href="#">Income Tax Calculator for AY 2024-25</a> to prepare well in advance your financial plans.</p>
                        <p>Use our Tax Calculator FY 2023-24 to calculate your taxes in advance and we will help you save taxes with our Annual Subscription Package FY 23-24 or CTC Optimizer.</p>
                        <div class="btnsecton">
                            <a href="#">Annual Subscription Package FY 23-24</a>
                            <a href="#">CTC Optimizer FY 23-24</a>
                        </div>

                    </article>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="rightside">
                        <div class="search">
                            <input type="text" name="search" class="form-control" placeholder="Search">
                            <button>Search</button>
                        </div>
                        <div class="qurey">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Name.:">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Email id.:">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Mobile No.:">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Enter Your Query"></textarea>
                                </div>
                                <div class="form-group">
                                    <button>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>