<%- include("../partial/header.ejs") %>

    <!-- Main Banner -->
    <div class="main-bannner blog_details_page">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>How to Link AADHAAR with your PAN </h1>
                            <h5>Written by Gagandeep Arora - Printed on - <span>                                                                            Date - 28th Nov 2022</span></h5>
                            <p>With effective from 1st July, 2017 it is mandatory to link Aadhaar number with PAN. As per the Finance Bill 2017, all PAN applications will require the Aadhar card number to be mentioned and all PAN card-holders must ensure
                                that their PAN cards are linked to Aadhaar card, failing which PAN cards will be invalidated. </p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images/blogs_banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Details Pages -->
    <div class="blog_detail_section all_containe">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-9">
                    <article>
                        <h3>How to Link AADHAAR with your PAN</h3>
                        <p>With effective from 1st July, 2017 it is mandatory to link Aadhaar number with PAN. As per the Finance Bill 2017, all PAN applications will require the Aadhar card number to be mentioned and all PAN card-holders must ensure that
                            their PAN cards are linked to Aadhaar card, failing which PAN cards will be invalidated. </p>
                        <div class="imgesbox">
                            <img src="/Images/upload/How_to_Link_AADHAAR_with_your_PAN.jpg" alt="">
                        </div>
                        <p>Is linking Aadhar to PAN mandatory for this Assessment Year (2017-18)? – I don’t think so! If you are filing income tax return for FY 2016-17, it is not mandatory that your PAN has to be linked to Aadhaar number. However, one should
                            quote Aadhar number / Aadhar enrollment ID in Income Tax Return form.</p>
                        <p>(Quoting of Aadhaar number in ITR forms is not mandatory for NRIs / individuals who are not citizens of India / who are above 80 years of age / who are residing in States of Jammu & Kashmir, Meghalaya & Assam.)</p>
                        <p>Kindly note that filing of ITR for Assessment Year 2018-19 (FY 2017-18) will not be possible if your Aadhaar number is not linked to your PAN number.</p>
                        <p>One can login to e-Filing portal of the Income tax dept (under ‘Profile Settings’ menu tab) and can link Aadhar card to PAN. But, it’s not that simple and is not as easy as it sounds! If your name in Aadhaar card is different from
                            the name mentioned in your PAN card then both of them will not get linked. And you may have to get your Name corrected in your PAN and then try linking both.</p>
                        <p>Considering this bottleneck and to make it easy for taxpayers to link their PAN with Aadhaar, the Income Tax department has now launched a new e-facility. An individual can now link his/her Aadhaar with PAN card in just 3 easy
                            steps. Even if your name in Aadhar does not match with that of PAN, you can still link both in just couple of minutes!</p>
                        <h4>How to link Aadhaar Number to PAN Card in three simple steps?</h4>
                        <p>Visit Income Tax Dept’s e-Filing Portal and click on the link ‘Link Aadhaar’ which is available on the home-page.</p>
                        <div class="imgesbox other">
                            <img src="/Images/upload/aadhaar_1.jpg" alt="">
                        </div>
                        <h5>Provide Details per PAN and Aadhaar</h5>
                        <p>After clicking on Link Aadhaar, you will be redirected to a new page. You need to provide PAN, Aadhaar card number & your name as in Aadhar card. You have to make sure that you enter the name exactly as given in the Aadhaar card.
                            Also, ensure that details like Date of Birth, Gender and Aadhaar number details are as per your Aadhaar card. Click on submit.</p>
                        <div class="imgesbox other">
                            <img src="/Images/upload/aadhaar_pan_1.jpg" alt="">
                        </div>
                        <h5>Confirmation of Linking</h5>
                        <p>After verification from UIDAI (Unique Identification Authority of India), the linking will be confirmed and it will display Aadhaar-PAN linking is completed successfully.</p>
                        <div class="imgesbox other">
                            <img src="/Images/upload/aadhaar_pan_linking_1.jpg" alt="">
                        </div>
                        <h5>Incase of Minor Mismatch - Details in PAN and AADHAAR</h5>
                        <p>If there is a minor mismatch in Aadhaar name provided by you when compared to the data available in PAN database, One Time Password (Aadhaar OTP) will be sent to your mobile / email registered with Aadhaar. You should ensure that
                            the date of birth and gender in PAN and Aadhaar are exactly same. In a rare case where Aadhaar name is completely different from name in PAN, then the linking will fail and you will be prompted to change the name in either
                            Aadhaar or in PAN database.</p>

                        <ul>
                            <li>1. To update your PAN details, you may kindly visit <a href="https://www.onlineservices.nsdl.com/paam/endUserRegisterContact.html#">NSDL website.</a> </li>
                            <li>If you have to update your Aadhar details, you may kindly visit <a href="https://ssup.uidai.gov.in/web/guest/ssup-home">UIDAI website.</a> </li>
                        </ul>
                        <p>You may use this simplified process to complete the linking of your Aadhaar with PAN immediately. This will be useful for
                            <a href="../index.html">E-Verification of Income Tax returns</a> using OTP sent to your mobile registered with Aadhaar.</p>

                    </article>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="rightside">
                        <div class="search">
                            <input type="text" name="search" class="form-control" placeholder="Search">
                            <button>Search</button>
                        </div>
                        <div class="qurey">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Name.:">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Email id.:">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Mobile No.:">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Enter Your Query"></textarea>
                                </div>
                                <div class="form-group">
                                    <button>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>