<%- include("../partial/header.ejs") %>

    <!-- Main Banner -->
    <div class="main-bannner we-are-hireing privacy_policy ">
        <div class="jobtetx">
            <h5>Legal Disclaimer</h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="teaxt">
                        <h1>Legal Disclaimer </h1>
                        <p>Our Website has no bias towards any person, race, religion or region. It is meant for people interested in getting information and consultation on Tax Planning & Financial Planning. Our site is not responsible for the views of
                            the author or any words, language or meaning of any author’s words that writes or works on the site. </p>
                    </div>
                </div>
                <div class="col-md-5 pe-0">
                    <div class="img-box">
                        <img src="/Images/privacy_policy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contain -->
    <div class="all_containe">
        <div class="container">
            <div class="row">
                <article>
                    <h2>Legal Disclaimer </h2>
                    <p>Our Website has no bias towards any person, race, religion or region. It is meant for people interested in getting information and consultation on Tax Planning & Financial Planning. Our site is not responsible for the views of the
                        author or any words, language or meaning of any author’s words that writes or works on the site. </p>
                    <p>All appropriate charges, levies etc. of Taxmanager/owner as will be chargeable from time to time shall be payable by the members/persons using the Web Site and availing of the services. Such charges payable shall be paid to Taxmanager/owner
                        as per the charges and mode specified in the site or intimated. If you have any concerns regarding the safety or security of transactions, please be in touch with the merchant himself or herself.</p>
                    <p>Some links any take you to sites external to our site. We do not validate or guarantee the security of any such sites or its content. We also do not recommend, endorse or promote any such sites, unless specifically mentioned.</p>
                    <p>Any of the services listed on our site does not imply our recommendation or guarantee. This site is for informational purposes only. Visiting this site implies acceptance of our terms and conditions of use agreement. If you have any
                        recommendations or observations, please go to the Contact Us page.</p>

                </article>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>