<%- include("../partial/header.ejs") %>

    <!-- Main Banner -->
    <div class="main-bannner we-are-hireing privacy_policy ">
        <div class="jobtetx">
            <h5>Terms and Conditions</h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="teaxt">
                        <h1>Terms and Conditions</h1>
                        <p>Looking for a career change? Browse our job listings now!. We will always be dedicated to giving quality tax services to present and future businesses. Our working mode is always accurate, accredited, affordable and aligned for
                            excellence. Our motto is caring for your books so you don't have to. We have a strong team for guidance in the taxation world, and a strong aptitude that helps deliver high-quality services. </p>
                    </div>
                </div>
                <div class="col-md-5 pe-0">
                    <div class="img-box">
                        <img src="/Images/privacy_policy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contain -->
    <div class="all_containe">
        <div class="container">
            <div class="row">
                <article>
                    <h2>Terms and Conditions</h2>
                    <p>All Terms and Conditions expressed in this page, shall be deemed to understand that user accepts terms and conditions while using the services of TaxManager.in. TaxManager.in represents Rising Advisory Services Private Limited registered
                        under the Companies Act, 1956.</p>
                    <p>User may be termed here as individual, individual representative or their acting agents, corporate representative, corporate company, tax professional or Hindu undivided family.</p>
                    <h3>Modification of these Terms</h3>
                    <p>Taxmanager.in/owner reserves the right to change the terms, conditions and notices under which the Taxmanager.in Web Site are offered, including but not limited to the charges associated with the use of the Taxmanager.in Web Site.
                        You are responsible for regularly reviewing these terms and conditions</p>
                    <h4>Confidentiality Agreement of User Data</h4>
                    <p>The Taxmanager.in Web Site would collect, store and use the user data only for the purpose user may authorize Taxmanager to do so. You may be with time to time asked to update or provide the necessary data relating to yourself or dependents
                        on you for whose income you are liable to furnish with the income tax department. We may share the data only with the Income Tax Department for the purpose of efiling of tax returns with the authorisation acquired by you.</p>
                    <p>Only information you have given us (including email address) is stored by us. We do not supplement your information with information from other companies. The exception to this would be when your employer has bought the services/products
                        for bulk use for its employees and to facilitate that we may upload information provided by your employer.
                    </p>
                    <p>In case of change in tax laws and procedures we would try our best to incorporate the same on the site at the earliest however we do not take responsibility to always update are web site or the service/s offered instantly, at times
                        it may take time or we may not consider to update the same for a reason, the decision of our team would be final. While offering the service/s and or product our team of tax experts have to interpret the vast number of tax law
                        provisions and while doing so there could be more than one view possible about the same tax provision, our experts always would be interpreting the law in the most reasonable and law abiding view. Therefore the income and tax calculations
                        may be different from another tax professional's point of view, in such an event or any other such possibilities we will not be responsible for such or other errors, misrepresentation or miscalculations in case of income or tax
                        areas reported or displayed or printed in any form through the service/s or products. In the event of leakage of any information from the site for any reason beyond our control and for whatsoever reason TaxManager.in shall not
                        be responsible under any circumstances and no action shall lie against TaxManager.in. A maximum relief granted in such an event would be subject to the payment you have made for that service or product, which we may refund to you
                        and that TaxManager.in would be deemed to have discharged its limited liability towards you.</p>
                    <h5>Service Charges </h5>
                    <p>TaxManager.in reserve the rights to charge membership or subscription fee for the services or information or any aspect in terms of any services provided to the user. TaxManager.in also reserve the right to modify or withdraw or increase
                        the service charges time to time as per the conditions with the notice on the site which may not be send individually to all user. Such display of notice on the site shall deemed to be read by the subscriber from time to time and
                        hence understood to be accepting the new changes. </p>
                    <p>TaxManager.in reserve the rights to amend the Pricing Strategy from time to time. TaxManager.in provides most of the services likes of tax returns preparation to tax advisory to salary structuring etc which may be add or subtract time
                        to time for free before the purchase. They may also be available in a combination in a package or provided individually. At given point of time user may be asked to purchase a particular product to proceed further in a particular
                        service. Each product has been priced strategically with different levels and time to time customer may be provided with different discounts and schemes to pay lower price. The purchase of our products / services is online transactions.
                        Therefore, the complete ability of service is enabled for the purchaser upon receiving payment. Upon receiving payment, it is also presumed that the service is delivered / rendered for all practical / legal purposes including the
                        chargeability of applicable taxes if any like service tax, etc. If any time the legal interpretation or the concerned authorities raise a different view point at a later stage then TaxManager.in is free to take such necessary steps
                        for recovering or refunding the tax so as to abide by and comply with the applicable law and that the customer agrees / binds himself for such change without notice.</p>
                    <h5>Payment Policy</h5>
                    <p>Since all the services are to be purchased online transactions, TaxManager.in deems to understand that the user must use his or her credit card/ debit card to purchase the service from TaxManager.in and will provide the correct credit
                        card or bank account details from which the purchase is made when asked for. TaxManager.in does not stores user's credit card or net banking details for user details purpose as TaxManager.in is using third party payment gateway
                        and shall not be held liable for any misuse done. It is understood that customer agrees that TaxManager.in disclaims all the liabilities due to any mishandling of the customers user credit card details.</p>
                    <p>The customer also agrees and undertakes not to stop and/or dispute any credit/debit card payment once initiated by him/her. The customer further agrees that any expense/s incurred by TaxManager.in consequent to his/her failing to abide
                        by the aforementioned point, will be borne by him/her.</p>
                    <h5>Refund or Reversal of Transaction Policy </h5>
                    <p>Any product/service once purchased cannot be cancelled since the nature of our products/services being online as such, they are instantly delivered and/or the process of delivery gets initiated and cannot be stopped without any misuse/loss
                        to us.</p>
                    <h5>However, TaxManager.in will refund payments to you in the following circumstances:</h5>
                    <ul>
                        <li>If there has been a duplicate payment in error.</li>
                        <li>If there is any inaccuracy in calculations of income tax computed by TaxManager.in, provided you send complete documentation of the data provided in connection with the other tax preparation method which shows the inaccuracy of
                            tax computation. </li>
                    </ul>
                    <p>Request for refund of payment made to TaxManager.in must be made within 5 working days from the date of payment. Your request for a refund terminates your rights to use the TaxManager.in services and any related warranties or guarantees
                        and further use of the product/service will be considered as misuse and can result into cancellation of the refund.</p>
                    <p>Refund of the fees you paid to TaxManager.in is the maximum relief granted in any event, including but not limited to computation error, printing error, filing error, filing delay, data leakage, security breach, data loss, or non-availability
                        of service.</p>
                    <p>The request of reversal or redund of the transaction has to be made in writing and the same email id should be used, the same used at the time of registration and which is being validated. If any of the data provided by the user at
                        the time of registration is inappropriate or deems to be incorrect, TaxManager.in reserve all the rights to decline to request of refund.</p>
                    <p>Without prejudice to the above, a Cancellation/Refund request may be granted only in cases where the products/services have not complied with and/or fall short in the fulfillment of its feature as expressed in the product/service description
                        and/or there is delay in serviceability of the same and the usability is lost due to essence of timing and/or unavoidable circumstances beyond the reach or fault of the customer. The grant of such request will be at the sole discretion
                        of the TaxManager.in team and the customer consents to the same by his/her request application. The refund so granted will be subject to verification of payment realized and after reduction of the taxes and/or finance charges as
                        applicable (if any) for such transaction.</p>
                    <h5>Proprietary Rights of TaxManager.in</h5>
                    <p>TaxManager.in reserves its right to terminate your account without any prior notice for any violation of the Terms of Use.</p>
                    <p>By submitting or furnishing any personal information, data or details on or through the TaxManager.in service/s, you automatically grant to us non-exclusive, permission and irrevocable right to hold and store your, such personal information,
                        data or details and or your tax related information submitted or generated on calculation. Our use of your personal information is governed by our Privacy Policy and we will never rent, sell or share your personal information with
                        any third party for marketing purposes without your express permission.</p>
                    <p>It is our policy to respond to notices of alleged infringement that comply with the Copyright Act.
                    </p>
                    <p>By submitting or furnishing any content and or suggestions other than your personal information on or through the TaxManager.in service/s, you automatically grant to us a worldwide, non-exclusive, permission and irrevocable right and
                        such content and suggestions becomes the property of TaxManager.in and you agree to grant/assign the royalty free, perpetual right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute,
                        perform and display such content (in whole or part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed.</p>
                    <p><b>The XML generated from the software of TaxManager.in used for efiling purpose for your tax
                            returns is proprietary asset of TaxManager.in and in under no circumstances will be shared
                            with the client or tax return assessee.</b></p>
                    <h5> No Unlawful or Prohibited Use</h5>
                    <p>As a condition of your use of the Taxmanager.in Web Site, you warrant to Taxmanager.in/owner that you will not use the Taxmanager.in Web Site in any manner which could damage, disable, overburden, or impair the Taxmanager.in Web Site
                        or interfere with any other party’s use and enjoyment of the Taxmanager.in Web Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through
                        the Taxmanager.in Web Site.</p>
                    <h5> Use of Communication Services</h5>
                    <p>The Taxmanager.in Web Site may contain bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, and/or other message or communication facilities designed to enable you to communicate with
                        the public at large or with a group (collectively, “Communication Services”). You agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication
                        Service. By way of example, and not as a limitation, you agree that when using a Communication Service, you will not:</p>
                    <ul>
                        <li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy) or others.</li>
                        <li>Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information. Upload files that contain software or other material protected
                            by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents.</li>
                        <li>Upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another’s computer. Advertise or offer to sell or buy any goods or services for any business purpose,
                            unless such Communication Service specifically allows such messages.</li>
                        <li>Conduct or forward surveys, contests, pyramid schemes or chain letters. Download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner.</li>
                        <li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded. Restrict or inhibit any
                            other user from using and enjoying the Communication Services. </li>
                        <li>Violate any code of conduct or other guidelines which may be applicable for any particular Communication Service. Harvest or otherwise collect information about others, including e-mail addresses, without their consent. Violate
                            any applicable laws or regulations. </li>
                    </ul>
                    <p>Taxmanager.in/owner has no obligation to monitor the Communication Services. However, Taxmanager.in/owner reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion.
                        Taxmanager.in/owner reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever.</p>
                    <p>Taxmanager.in/owner reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental requests, or to edit, refuse to post or to remove any information
                        or materials, in whole or in part, in Taxmanager.in’s sole discretion.</p>
                    <p>Always use caution when giving out any personally identifying information about yourself or your children in any Communication Services. Taxmanager.in/owner does not control or endorse the content, messages or information found in
                        any Communication Services and, therefore, Taxmanager.in/owner specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Services. Managers
                        and hosts are not authorized Taxmanager.in spokespersons, and their views do not necessarily reflect those of Taxmanager.in/owner.</p>
                    <p>Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination, you are responsible for adhering to such limitations if you download the materials.</p>
                    <p>All informations, contents, services, publications and advices are based on Indian Laws in force at the relevant time. However any specific query under specific laws of specific Country can also be given upon request subject to payment
                        of charges</p>
                    <h5> POSTED AT TAXMANAGER.IN WEB SITE.</h5>
                    <p><i>Taxmanager.in does not claim ownership of the materials you provide to Taxmanager.in
                            (including feedback and suggestions) or post, upload, input or submit to any Taxmanager.in
                            Web Site or its associated services (collectively “Submissions”).</i></p>
                    <p>However, by posting, uploading, inputting, providing or submitting your Submission you are granting Taxmanager.in/owner, its affiliated companies and necessary sublicensees permission to use your Submission and informations in connection
                        with the operation of their Internet businesses inclding, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your submission; and to publish
                        your name in connection with your submission wherever necessary.</p>
                    <p>No compensation will be paid with respect to the use of your Submission and information, as provided herein. Taxmanager.in/owner is under not obligation to post or use any Submission you may provide and may remove any Submission at
                        any time in Taxmanager.in’s sole discretion.</p>
                    <p>By posting, uploading, inputing, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all
                        the rights necessary for you to provide, post, upload, input or submit the Submissions.</p>
                    <h5> Liability Disclaimer</h5>
                    <p>THE INFORMATION, SOFWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE TAXMANAGER.IN WEB SITES MAY INCLUDE INACCURACIES FOR TYPOGRAPHICAL OR CALCULATION/ARITHEMETICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION
                        HEREIN. TAXMANAGER.IN AND/OR ITS RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE TAXMANAGER.IN WEB SITES AT ANY TIME. ADVICE AND INFORMATION RECEIVED VIA THE TAXMANAGER.IN WEB SITES SHOULD NOT BE RELIED UPON FOR
                        PERSONAL, MEDICAL, LEGAL OR FINANCIAL DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR SPECIFIC ADVICE TAILORED TO YOUR SITUATION.</p>
                    <p>TAXMANAGER.IN AND/OR ITS RESPECTIVE SUPPLIERS/OWNER MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED
                        ON THE TAXMANAGER.IN WEB SITES FOR ANY PURPOSE. All SUCH INOFRMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS AND PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND. TAXMANAGER.IN AND/OR ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM
                        ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTIABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND
                        NON-INFRINGEMENT.
                    </p>
                    <p>IN NO EVENT SHALL TAXMANAGER.IN AND/OR ITS SUPPLIERS/OWNER BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER INCLDUING, WITHOUT LIMITATION, DAMAGES FOR LOSS OR USE OF
                        DATA OR PROFITS, INACCURACIES, TYPOGRAPHICAL OR CALCULATION OR ARITHEMETIC ERRORS ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE TAXMANAGER.IN WEB SITES; WITH THE DELAY OR INABILITY TO USE THE TAXMANAGER.IN
                        WEB SITES OR RELATED SERVICES; THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE TAXMANAGER.IN WEB SITES, OR OTHERWISE ARISING OUT OF
                        THE USE OF THE TAXMANAGER.IN WEB SITES,- WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF TAXMANAGER.IN OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS
                        DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE TAXMANAGER.IN WEB SITES, OR WITH ANY OF THESE
                        TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE TAXMANAGER.IN WEB SITES
                    </p>
                    <p><b>ANY TAX LIABILITY DEMANDED BY DEPARTMENT OF INCOME TAX POST TAX RETURN EFILING U/S 143(1) OR
                            U/S 154 OF IT ACT IS THE RESPONSIBILITY OF THE ASSEESSEE AND NOT TAXMANAGER.IN.
                            RECTIFICATION REQUIRED POST TAX FILING THE CHARGES HAS TO BE BORNE BY THE CLIENT AND IS NOT
                            A PART OF TAX FILING.</b></p>
                    <h5>Other Conditions</h5>
                    <ul>
                        <li>If any person without permission of Taxmanager.in introduces or causes to be introduced any computer contaminant or virus, damages or cause to be damaged any network data, database or programs, destructs or causes destruction,
                            denies or causes denial of access to any other person authorized to access, charges the services avail by a person to the account of any other person by tampering or manipulating or causes to be done any of the acts as mentioned
                            hereinabove, Taxmanager.in shall be within its right to take appropriate steps against such person as may be deemed fit and proper and proceeding under law.</li>

                        <li>If by the act of any one there is any contravention of any provisions or if any information by anyone is hacked Taxmanager.in shall not be held liable or responsible in any manner</li>
                        <li>The information provided in the Website is only informative and may be inaccurate or unsuitable, unreliable or unavailable and unworkable to suit everyone’s needs. As the information, products and services are purely informative
                            specific personal advice is highly recommended to suit your requirements individually. Taxmanager.in does not take any responsibility or liability for any damages or loss to anyone on the basis of the information available
                            herein.
                        </li>
                        <li>It is understood that anyone visiting the site and using any information shall be doing so at his own risk and responsibility.</li>
                    </ul>
                    <h5> Service Contact</h5>
                    <p> <a href="mailto:info@Taxmanager.in">info@Taxmanager.in </a> </p>
                    <h5> Termination / Access Restriction</h5>
                    <p>Taxmanager.in reserves the right, in its sole discretion, to terminate your access to any or all Taxmanager.in Web Sites and the related services or any portion thereof at any time, without notice. </p>
                    <h5> Copyright And Trademark Notices</h5>
                    <p>All contents of the Taxmanager.in Web Sites are: Copyright © 2009-2010 Taxmanager.in and/or its owners/suppliers. All right reserved.</p>
                </article>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>