<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner about_us_banner">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>About us</h1>
                            <p> We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. Our working mode is always accurate, accredited, affordable and aligned
                                for excellence. Our motto is caring for your books so you don't have to. We have a strong team for guidance in the taxation world, and a strong aptitude that helps deliver high-quality services. The central theme running
                                in the company is performing expectations beyond the consumer’s insight. </p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images//about_us_banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About us Detail-->
    <div class="about_us_detail">
        <div class="container">
            <div class="row">
                <div class="col-md-7 pe-5">
                    <h4>About us</h4>
                    <h5>We have a <span>big firm capability </span> but a small firm personality.</h5>
                    <p>We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. Our working mode is always accurate, accredited, affordable and aligned for excellence.
                        Our motto is caring for your books so you don't have to. We have a strong team for guidance in the taxation world, and a strong aptitude that helps deliver high-quality services. The central theme running in the company is performing
                        expectations beyond the consumer’s insight. Point to ponder that behind exciting long term financial growth is always a boring Chartered Accountant and his team. Commitment to solving all your tax problems is a promise.</p>
                    <p>We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. Our working mode is always accurate, accredited, affordable and aligned for excellence.
                        Our motto is caring for your books so you don't have to. We have a strong team for guidance in the taxation world, and a strong aptitude that helps deliver high-quality services. The central theme running in the company is performing
                        expectations beyond the consumer’s insight. Point to ponder that behind exciting long term financial growth is always a boring Chartered Accountant and his team. Commitment to solving all your tax problems is a promise.</p>
                </div>
                <div class="col-md-5">
                    <div class="box">
                        <h4>Happy Clients</h4>
                        <div class="countbx">
                            <div class="timer count-title count-number" data-to="2000" data-speed="5000">0</div>
                            <sup>+</sup>
                        </div>
                        <p>We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. </p>
                    </div>
                    <div class="box">
                        <h4>Award Wins</h4>
                        <div class="countbx">
                            <div class="timer count-title count-number" data-to="1150" data-speed="5000">0</div>
                            <sup>+</sup>
                        </div>
                        <p>We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. </p>
                    </div>
                    <div class="box">
                        <h4>Satisfied Customers</h4>
                        <div class="countbx">
                            <div class="timer count-title count-number" data-to="4500" data-speed="5000">0</div>
                            <sup>+</sup>
                        </div>
                        <p>We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. </p>
                    </div>
                    <div class="box">
                        <h4>Project Done</h4>
                        <div class="countbx">
                            <div class="timer count-title count-number" data-to="2220" data-speed="5000">0</div>
                            <sup>+</sup>
                        </div>
                        <p>We have a big firm capability but a small firm personality. We will always be dedicated to giving quality tax services to present and future businesses. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Achievements -->
    <div class="our_achievements">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="mapimgbox">
                        <img src="/Images//map.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 ps-5">
                    <h4>Our Achievements</h4>
                    <p>TaxManager.in is a joint venture between Rising Advisory Services Private Limited (a Technology solution and Financial Consulting Company) and Jain & Co, CA Firm (amongst the Top 50 CA firms in India providing its resident expertise
                        for tax and investment consulting). In Taxmanager.in we preach and teach "Don't Evade but Save Tax" that managing tax efficiently is the essence of financial management. Our leadership is running from India, the Middle East, America,
                        and South-East Asia. We have a customer base of more than 2,50,000 customers. We have a strong team for guidance in the taxation world, and a strong aptitude that helps deliver high-quality services. The theme we run humbly in
                        the organisation is to be the most challenging and smartest worker in the accountancy and taxation world. Being talented is a quality we possess, but our attitude, work ethic, and character have developed and nourished at TaxManager.</p>
                    <p>Some of our laurels we are proud of is being awarded as “ Best Financial Services Company “ in the North and Eastern region by the prestigious “ET Now IndiaMart Business Leaders of Tomorrow 2013” for our innovative services in Efiling
                        of tax returns, online tax and compliance management for both individuals and corporate companies. We are designated as E-return intermediary license holders from the department of Income-tax.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services -->
    <div class="our_services">
        <div class="container">
            <div class="serv_tab_box">
                <div class="row">
                    <div class="col-md-5 col-lg-3">
                        <div class="ourservicesboxlist">
                            <h4>Our Services</h4>
                            <ul class="tabs">
                                <li class="active" rel="tax_e_filing">
                                    <span class="img">
                                    <img src="/Images/icon//Tax-e-Filing.png" alt="">
                                </span>
                                    <span class="textsect">
                                    <h5>Tax e-Filing</h5>
                                    <p>Solutions to clients to make sure that
                                        there is no turbulence in tions...</p>
                                </span>
                                </li>
                                <li rel="tax_management">
                                    <span class="img">
                                    <img src="/Images/icon//Tax-Management.png" alt="">
                                </span>
                                    <span class="textsect">
                                    <h5>Tax Management</h5>
                                    <p>Solutions to clients to make sure that
                                        there is no turbulence in tions...</p>
                                </span>
                                </li>
                                <li rel="nri">
                                    <span class="img">
                                    <img src="/Images/icon//nri.png" alt="">
                                </span>
                                    <span class="textsect">
                                    <h5>NRI</h5>
                                    <p>Solutions to clients to make sure that
                                        there is no turbulence in tions...</p>
                                </span>
                                </li>
                                <li rel="business">
                                    <span class="img">
                                    <img src="/Images/icon//Business.png" alt="">
                                </span>
                                    <span class="textsect">
                                    <h5>Business</h5>
                                    <p>Solutions to clients to make sure that
                                        there is no turbulence in tions...</p>
                                </span>
                                </li>
                                <li rel="investments_made_simple">
                                    <span class="img">
                                    <img src="/Images/icon//Investments-Made-Simple.png" alt="">
                                </span>
                                    <span class="textsect">
                                    <h5>Investments Made Simple</h5>
                                    <p>Solutions to clients to make sure that
                                        there is no turbulence in tions...</p>
                                </span>
                                </li>
                                <li rel="startups">
                                    <span class="img">
                                    <img src="/Images/icon//startups.png" alt="">
                                </span>
                                    <span class="textsect">
                                    <h5>Startups</h5>
                                    <p>Solutions to clients to make sure that
                                        there is no turbulence in tions...</p>
                                </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-9">
                        <div class="tab_container">
                            <!-- #tab1 -->
                            <div id="tax_e_filing" class="tab_content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- #tab2 -->
                            <div id="tax_management" class="tab_content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- #tab3 -->
                            <div id="nri" class="tab_content">

                                <div class="row">
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #tab4 -->
                            <div id="business" class="tab_content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #tab5 -->
                            <div id="investments_made_simple" class="tab_content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #tab6 -->
                            <div id="startups" class="tab_content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 p-2">
                                        <div class="ser_ite_box">
                                            <div class="imgesbox">
                                                <img src="/Images/icon//our_services_item_icone.png" alt="">
                                            </div>
                                            <div class="text_section">
                                                <h3>CA Assisted - Capital Gains</h3>
                                                <p>Everything of CA Assisted including Capital Gains from Sales of Stocks, MF and Other Assets. Your tax details are validated with 26 AS Tax Credit Statement.</p>
                                                <h6>Rs 3000 / <span> Onword</span></h6>
                                                <div class="addtocard">
                                                    <span><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Partners -->
    <div class="our_partners">
        <div class="container">
            <div class="row">
                <h3>Our Partners from across the industry</h3>
                <div class="owl-carousel owl-theme our_partners_logo_industry">
                    <div class="item">
                        <img src="/Images//logo1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/Images//logo2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/Images//logo3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/Images//logo4.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/Images//logo5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("../partial/footer.ejs") %>