<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>Blogs </h1>
                            <p>We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely
                                linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. </p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images/blogs_banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blogs-->
    <div class="blogsection">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-9">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/blogs_details.png" alt="">
                                    <span>Date - 3rd Feb 2023</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>Calculate Your Tax Return FY 23-24 Under New Tax Regime and Old Tax Regime</h4>
                                    <p>Anyone who has an income that crosses a specific threshold is required to pay taxes. Income Tax is the tax that Anyone who has an income that crosses a specific threshold is required to pay taxes. Income Tax is the
                                        tax that...</p>
                                    <a href="./blog/Calculator-Your-Tax-Return-FY-23-24-Under-New-Regime-and-Old-Regime" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/Union_Budget_Highlights_2023.jpg" alt="">
                                    <span>Date - 3rd Feb 2023</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>Union Budget Highlights 2023</h4>
                                    <p> On 1 Feb 2023 , our honourable Finance minister Nirmala Sitharaman presented her last full year budget of the Modi government. Major highlights for a taxpayer from the presentation are listed below- Major Highlights
                                    </p>
                                    <a href="blog/Union_Budget_Highlights_2023" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/Is_It_Important_To_Consult_A_Tax_Professional.jpg" alt="">
                                    <span>Date - 1rd Feb 2023</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>Is It Important To Consult A Tax Professional?</h4>
                                    <p>We are living in an era of professionals, there are experts in every field to assist and guide a layman. For a taxpayer, filing taxes can be confusing and if left as a last-minute job it will be frustrating also. At
                                        the onset of the financial budget every year </p>
                                    <a href="blog/Is_It_Important_To_Consult_A_Tax_Professional" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/Income_tax_slabs_for_sole_proprietorships_professionals_partnership_firms_and_companies_for_FY_2022_23_(_AY_2023_24_).jpg" alt="">
                                    <span>Date - 23rd Dec 2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>Income Tax Slabs for sole proprietorships professionals partnership firms and companies for FY 2022-23 (AY 2023-24)</h4>
                                    <p>The income tax slabs under the old income tax regime for sole proprietorship businesses and professionals are same as salaried class. However, individuals running proprietorship businesses or offering professional services
                                        (such as lawyer, doctor etc.) are eligible for many deductions that salaried individuals are not. Similarly, there are certain deductions that can be claimed only by salaried employees.</p>
                                    <a href="blog/Income_tax_slabs_for_sole_proprietorships_professionals_partnership_firms_and_companies_for_FY_2022_23_(_AY_2023_24_)" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/How_to_Link_AADHAAR_with_your_PAN.jpg" alt="">
                                    <span>Date - 20rd Nav 2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>How to Link AADHAAR with your PAN</h4>
                                    <p>With effective from 1st July, 2017 it is mandatory to link Aadhaar number with PAN. As per the Finance Bill 2017, all PAN applications will require the Aadhar card number to be mentioned and all PAN card-holders must
                                        ensure that their PAN cards are linked to Aadhaar card, failing which PAN cards will be invalidated. </p>
                                    <a href="blog/How_to_Link_AADHAAR_with_your_PAN" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/How_To_Pay_Income_Tax.jpg" alt="">
                                    <span>Date - 29rd Sep  2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>How To Pay Income Tax?</h4>
                                    <p>Income Tax is the tax paid by an individual and businesses on the income earned. The moment we discuss tax it sounds like a difficult task to be completed which we keep avoiding to be completed the last minute. The
                                        government of India has eased the burden and made it a hassle-free journey for a tax-payer. </p>
                                    <a href="blog/How_To_Pay_Income_Tax" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/How_to_e_Verify_Your_Income_Tax_Return.jpg" alt="">
                                    <span>Date - 20rd Sep 2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>How Do You Create A Financial Portfolio? </h4>
                                    <p>Confused, clueless about how to make a lucrative financial portfolio? Where to invest? We all would like our funds to build up for future goals and keep investing in different places that are the beginning of a financial
                                        portfolio. A financial portfolio is a compilation of investments and holdings in stocks, </p>
                                    <a href="blog/How_Do_You_Create_A_Financial_Portfolio" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/Payment_of_Taxes_Or_Filing_Your_ITR_Duel_Ends.png" alt="">
                                    <span>Date - 8rd Aug 2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>Payment of Taxes Or Filing Your ITR- Duel Ends </h4>
                                    <p>As a responsible citizen of the country, one must follow some obligations and duties to enjoy this title unanimously. Paying your taxes on time and filing your returns as per the Income Tax authorities is a primary
                                        duty among many other responsibilities. Appearances can be deceiving, one may get confused between these two taxation tasks. </p>
                                    <a href="blog/Payment_of_Taxes_Or_Filing_Your_ITR_Duel_Ends" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/nri_tax.jpg" alt="">
                                    <span>Date - 1rd July 2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>NRI Taxation?</h4>
                                    <p>Non-resident Indians are residents who are earning income outside India. The rules and regulations are different for an NRI and an Indian citizen. To be an NRI we need to determine your residential status. NRI Status
                                        If an assessee satisfies the following conditions then he will be considered an Indian resident for the financial year- When you are in India for at least six months (182 days) during the financial year.
                                    </p>
                                    <a href="blog/NRI_taxation" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="blogs_box">
                                <div class="images">
                                    <img src="/Images/upload/How-To-Select-The-Relevant-ITR-Form.png" alt="">
                                    <span>Date - 1rd July 2022</span>
                                    <div class="socil-share">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <h4>How To Select The Relevant ITR Form </h4>
                                    <p>The tax imposed by the government on the income of individuals, Hindu Undivided families, companies, firms, LLP, associations of persons, the body of individuals, local authority, and any other artificial juridical
                                        person. The tax liability for an assessee depends on the income earned by him in the financial year. Taxpayers file their information according to the income earned and tax applicable to the income tax department
                                        via a form known as the Income Tax Return form famously known as” ITR Form”.</p>
                                    <a href="blog/How-To-Select-The-Relevant-ITR-Form" class="bloagread">Read More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <%- include("../partial/side-nav.ejs") %>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>