<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner cooming_soon">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="text-section">
                            <h3>Coming Soon! </h3>
                            <h4>Our <span>New website</span> is on its way.</h4>
                            <p>We are preparing something amazing and exciting for you. </p>
                            <h5>Get notified when we launch.</h5>
                            <div class="submissiton">
                                <form action="">
                                    <div class="text">
                                        <input type="email" name="email_coming_soon_page" placeholder="Enter Your Email Id.">
                                        <button>Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">

                        <div class="img-box">
                            <img src="/Images/comingsoon.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div class="maping">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.191552060989!2d77.1337773150824!3d28.62402058242111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ccd5a42dbe1%3A0x89f3c7672738021b!2sTaxManager.in!5e0!3m2!1sen!2sin!4v1675338276293!5m2!1sen!2sin"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="container">
            <div class="con-det-top">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <span><img src="/Images/icon/home.png" alt=""></span>
                            <div class="text-area">
                                <h5>Regd Office</h5>
                                <p>Regd Office - A - 6, Naraina Vihar, Ring Road, New Delhi - 110028</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <span><img src="/Images/icon/offices.png" alt=""></span>
                            <div class="text-area">
                                <h5> Corporate Office</h5>
                                <p>Corporate Office - 18 - A, Wing F, 3rd Floor, Local Shopping Complex, Ring Rd, above LIC Office, A Block, Naraina, New Delhi, Delhi 110028</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <span><img src="/Images/icon/kolk.png" alt=""></span>
                            <div class="text-area">
                                <h5>Kolkata Office</h5>
                                <p>Kolkata Office - P 21/22, Radha Bazaar Street, Kolkata, West Bengal - 700001</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact from-->
    <div class="contact-from">
        <div class="container">
            <div class="frombox">
                <div class="row">
                    <div class="col-md-4">
                        <div class="details">
                            <h4>Contact Information</h4>
                            <p>We’ll create high-quality linkable content and build at least 40 high-authority. We’ll create high-quality linkable content and build at least 40 high-authority. </p>
                            <h5>TaxManager</h5>
                            <h6><a href="https://goo.gl/maps/T13q4vsqy4s3Qkuu8"><span>Address: </span>18 - A, Wing F, 3rd Floor,
                            Local Shopping Complex, Ring Rd, above LIC Office, A Block, Naraina Vihar, New Delhi, Delhi
                            110028</a></h6>
                            <h6><a href="tel:+919555331122"><span>Call: </span> +91-9555331122</a></h6>
                            <h6> <a href="mailto:support@taxmanager.in"><span>Mail: </span> support@taxmanager.in</a></h6>
                            <h6>Follow Us:</h6>
                            <ul class="socialmedia">
                                <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="#"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                                <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="fromboxfill">
                            <form action="" method="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name.: <sup>*</sup></label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email Id.: <sup>*</sup></label>
                                            <input type="email" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile No.: <sup>*</sup></label>
                                            <input type="number" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>City: </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Your Message: <sup>*</sup></label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="fromsubmit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("../partial/footer.ejs") %>