<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner error_pages">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="error teaxt">
                            <div class="text-center">
                                <h1>
                                    <span class="fade-in" id="digit1">4</span>
                                    <span class="fade-in" id="digit2">0</span>
                                    <span class="fade-in" id="digit3">4</span>
                                </h1>
                                <h3 class="fadeIn">PAGE NOT FOUND</h3>
                                <a href="index.html"> Return To Home </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="error">
                            <div class="img-box">
                                <img src="/Images/error404.png" alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>