<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>FAQ </h1>
                            <p>We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely
                                linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. </p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images/faqs.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Faqs -->
    <div class="faqs_section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                    Can I file an Income Tax Retun using Taxmanger.in services?
                                                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes any individual having the following type of Income can go for Taxmanager services:- </p>
                                    <ul>
                                        <li>Income From Salary.</li>
                                        <li>Income from House Property.</li>
                                        <li>Income from sales of saving schemes like Shares, Mutual Funds Units, Bonds.</li>
                                        <li>Income from other sources (Interest from investments, dividends, income from winning lottery or horse race etc).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What are the steps for filing an Income Tax Return?
                                 </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Register</a> with <a href="index">Taxmanager.in</a> and fill your Personal Information.</li>
                                        <li>Enter the relevant financial details like Income sources, Investments, Expenditure, Losses etc.</li>
                                        <li><a href="index">Taxmanager.in</a> generate your return based on this data.</li>
                                        <li>View your tax computation and review other information.</li>
                                        <li>Make a payment to <a href="index">Taxmanager.in </a> based on the Filing Plan you chose.</li>
                                        <li>Authorize <a href="index">Taxmanager.in</a> to efile your Income Tax Return.</li>
                                        <li>Receive an Acknowledgement via email (if return is signed digitally).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How can I create my ITR?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Go to <a href="#">My Account</a> page.</li>
                                        <li>Click on Create New ITR and provide it an appropriate name.</li>
                                        <li>Click on Submit button.</li>
                                        <li>ITR will add in the My Account Page.</li>
                                        <li>Click on the Edit Button for inserting and updating the information.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingfour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                    How to fill Tax Return details?
                            </button>
                            </h2>
                            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>After Creating your ITR Click on the Edit Button for inserting the information</li>
                                        <li>Follow Personal Information link for fill your personal details.</li>
                                        <li>Follow Salary Link for fill the information of your income sources and other financial details.</li>
                                        <li>Follow Deduction link for fill the information of Investments and Expenditures.</li>
                                        <li>Follow the others link like Losses, Tax Computation, Bank Details, Filling Status, AIR Details, Verification and fill the related information.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How to fill Income Sources Details?
                            </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Follow the Income Link on My ITR Page.</li>
                                        <li>Click on the Edit Button on Income Summary page for Providing the details of Income Source.</li>
                                        <li>Go through Income From Salary if you have income from Salary.
                                            <ol>
                                                <li>Click on Edit button for providing Employer's Detail. </li>
                                                <li>Provide the Employer Information as mention in your Form-16 </li>
                                                <li>Click on Save & Continue with form-16 button.</li>
                                                <li>Fill the details of your Income as mention in the Form-16</li>
                                                <li>Provide the Investment and Deduction details.</li>
                                                <li>Click on the Save and Continue button.</li>
                                                <li>Follow the same process if you have more than one Form-16.</li>
                                            </ol>
                                        </li>
                                        <li><b>Income from House Property:</b> Provide information about the income you are getting from your house-hold properties. If you don't have that income then fill the amount of interest on housing loan from Form-16
                                            provided by your employer. </li>
                                        <li><b>Income from Capital Gain:</b> The income you are withdrawing through Mutual Funds, Shares, Bonds and Other Capital assets</li>
                                        <li><b>Income from Other Sources:</b> The income you are getting from family pension, agricultural, Rent, lottery, gift etc.</li>
                                        <li><b>Clubbing of Income:</b> Provide details of the particular person if you want to clubbed your income with your family members.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Does Taxmanger.in calculate the Tax Refunds?
                            </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, your entire information is manipulated during the ITR process. Once you have finished with your financial information, the tax payable by you or refund due to you will be displayed. You can view all other details
                                        on the Tax Computation page.</p>
                                    <p>Taxmanager.in is not only Tax Estimate tools but it provides a Complete Solution for Income Tax Return.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    What are the methods of filing an Income Tax Return using Taxmanager.in?
                            </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Taxmanager.in offer your different plans according to your needs. Taxmanager.in can help you filing your return using two methods:</p>
                                    <ul>
                                        <li>Physical Filing Method</li>
                                        <li>Efiling Filing Method</li>
                                    </ul>
                                    <p><b>Efiling Filing Method - Steps involved: </b></p>
                                    <ul>
                                        <li>Register with Taxmanager.in </li>
                                        <li>Prepare your return on Taxmanager.in</li>
                                        <li>Review your Tax Calculation.</li>
                                        <li>Get your Income tax Return generated in electronic format.</li>
                                        <li>Authorise Taxmanager to e-file your Return.</li>
                                        <li>Get ITR-V from Income Tax Department in your mail box.</li>
                                        <li>Download and print ITR-V, sign it and enclose it in a A-4 size envelope. </li>
                                        <li>Mail this envelope to <b>“Income Tax Department – CPC, Post Box No.1, Electronic City Post Office, Bangalore – 560100, Karnataka”</b> within 30 days of e-filing.</li>
                                        <li>Receive e-mail from Income Tax Department, acknowledging the receipt of ITR-V. That is your final acknowledgement. <b>That concludes your efiling.</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    What is an ITR-V?
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>ITR-V stands for ‘Income Tax Return – Verification’ form. </li>
                                        <li>This form is received when you e-file without using a digital signature.</li>
                                        <li>Income Tax Department needs to verify the authenticity of income tax return when filed online without using a digital signature.</li>
                                        <li>On receipt of ITR-V you have to sign the copy and submit to the Income Tax Department to complete the filing process.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Where I can submit ITR-V?
                                </button>
                            </h2>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>From this year onwards, it is compulsorily to mail your ITR-V in a sealed A-4 envelope to the following address: </p>
                                    <br>Income Tax Department – CPC</br>
                                    Post Box No.1,</br>
                                    Electronic City Post Office,</br>
                                    Bangalore – 560100, Karnataka.</h5>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Is there any time limit for submitting ITR-V to Income Tax Department?
                                    </button>
                            </h2>
                            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, you should mail your ITR-V within 30 days of e-filing your return. If you miss submitting your ITR-V within 30 days, your e-filing will be considered as null and void. It means that it will be considered that you
                                        have not yet filed your return. In such a case you will have to re-file your return, get a new ITR-V and submit the same within 30 days. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEleven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    What are the different packages offering by Taxmanager.in?
                                </button>
                            </h2>
                            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Taxmanager.in offer your different plans according to your needs. </p>
                                    <ul>
                                        <li>Tax Manager Basic </li>
                                        <li>Tax Manager Pro-Help,</li>
                                        <li>Tax Manager Complete Solutions.</li>
                                    </ul>
                                    <p>You can chose your package according to your requirements.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwovel">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwovel" aria-expanded="false" aria-controls="collapseTwovel">
                                    What is the Last Date for filing an Income Tax Return?
                                </button>
                            </h2>
                            <div id="collapseTwovel" class="accordion-collapse collapse" aria-labelledby="headingTwovel" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> The Last Date to file your Income Tax Return is 31st July.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTheadteen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheadteen" aria-expanded="false" aria-controls="collapseTheadteen">
                                    Can I file return after the last date mentioned?                          
                                  </button>
                            </h2>
                            <div id="collapseTheadteen" class="accordion-collapse collapse" aria-labelledby="headingTheadteen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, You can file return after the last date also. In such case you will have to pay penal interest @ 1% per month for late filing. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFourteen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    What is Revised Return?
                                </button>
                            </h2>
                            <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Revised return is filed when there were some mistakes when you originally filed your return and now you want to rectify that mistakes and file a rectified return. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFiveteen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveteen" aria-expanded="false" aria-controls="collapseFiveteen">
                                    Can I file a Revised Return by using Taxmanager.in services?
                                                            </button>
                            </h2>
                            <div id="collapseFiveteen" class="accordion-collapse collapse" aria-labelledby="headingFiveteen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, you can prepare revised return and file with Taxmanager.in. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSixteen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen   ">
                                    Whom should I contact in case if I have queries or problems in filing the Income Tax Return?
                                </button>
                            </h2>
                            <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You can either call us to our call center numbers +91-11- 41411612, +919958306611 or you can write us an email at <a href="mailto:info@taxmanager.in">info@taxmanager.in</a>. Your query will be handled on the same business
                                        or working day between 10 AM to 6 PM or on the next subsequent business day. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSventeen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSventeen" aria-expanded="false" aria-controls="collapseSventeen">
                                    How Taxmanager.in helps me during return process, if I need guidance?
                                </button>
                            </h2>
                            <div id="collapseSventeen" class="accordion-collapse collapse" aria-labelledby="headingSventeen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Taxmanager.in will help you on each and every step, you can confidently prepare and file your Income Tax Return on your own. </p>
                                    <ul>
                                        <li>You can take help from On Screen Instructions on each and every step. </li>
                                        <li>You can take help from us via phone or email.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEightteen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
                                    What are the payment options?
                                </button>
                            </h2>
                            <div id="collapseEightteen" class="accordion-collapse collapse" aria-labelledby="headingEightteen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> Make the Payment as per your choice of Mode <b>(Credit Card, Debit Card, Net Banking, Cheque DD, Pre-Paid Voucher)</b> and the Account you want to subscribe for.</p>
                                    <p>Once the payment is received you would be able to generate your Electronic Return or Paper Return as per your likings.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNineteen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                    Whom should I contact in case if I have not get any details regarding payment I have done?
                                </button>
                            </h2>
                            <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Whom should I contact in case if I have not get any details regarding payment I have done?
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="faq_qurey">
                        <h2>Get A Query</h2>
                        <div class="fromboxfill">
                            <form action="" method="">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label>Name.: <sup>*</sup></label>
                                            <input type="text" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label>Email Id.: <sup>*</sup></label>
                                            <input type="email" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Mobile No.: <sup>*</sup></label>
                                            <input type="number" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label>City: </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Your Message: <sup>*</sup></label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <button type="submit" class="fromsubmit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>