<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>Gallery </h1>
                            <p>We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely
                                linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. </p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images/media.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Media -->
    <div class="gallerysection">
        <div class="container">
            <div class="row">
                <div class="gallery">
                    <a href="https://source.unsplash.com/600x600/?sig=1" class="image-popup-vertical-fit" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x600/?sig=1" />
                    </a>

                    <a href="https://source.unsplash.com/600x800/?sig=12" class="image-popup-vertical-fit vertical" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x800/?sig=12" />
                    </a>

                    <a href="https://source.unsplash.com/800x600/?sig=71" class="image-popup-vertical-fit horizontal" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/800x600/?sig=71" />
                    </a>

                    <a href="https://source.unsplash.com/800x800/?sig=7" class="image-popup-vertical-fit big" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/800x800/?sig=7" />
                    </a>

                    <a href="https://source.unsplash.com/600x600/?sig=111" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x600/?sig=111" />
                    </a>

                    <a href="https://source.unsplash.com/600x800/?sig=94" class="image-popup-vertical-fit vertical" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x800/?sig=94" />
                    </a>

                    <a href="https://source.unsplash.com/600x600/?sig=11" class="image-popup-vertical-fit" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x600/?sig=11" />
                    </a>

                    <a href="https://source.unsplash.com/800x600/?sig=68" data-lightbox="homePortfolio" class="image-popup-vertical-fit horizontal">
                        <img src="https://source.unsplash.com/800x600/?sig=68" />
                    </a>

                    <a href="https://source.unsplash.com/600x600/?sig=24" class="image-popup-vertical-fit" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x600/?sig=24" />
                    </a>

                    <a href="https://source.unsplash.com/800x800/?sig=55" class="image-popup-vertical-fit big" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/800x800/?sig=55" />
                    </a>

                    <a href="https://source.unsplash.com/600x600/?sig=56" class="image-popup-vertical-fit" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x600/?sig=56" />
                    </a>

                    <a href="https://source.unsplash.com/800x600/?sig=186" class="image-popup-vertical-fit horizontal" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/800x600/?sig=186" />
                    </a>

                    <a href="https://source.unsplash.com/600x600/?sig=117" class="image-popup-vertical-fit" data-lightbox="homePortfolio">
                        <img src="https://source.unsplash.com/600x600/?sig=117" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>