<%- include("../partial/header.ejs") %>

    <!-- Main Banner -->
    <div class="main-bannner leadership">
        <div class="leadershiphed">
            <h2>leadership</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="teaxt">
                        <h1>Leadership </h1>
                        <p>We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely
                            linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. </p>
                        <a href="we-are-hiring.html" class="leadership_joinus">Join Us</a>
                    </div>
                </div>
                <div class="col-md-7 pe-0">
                    <div class="img-box">
                        <img src="/Images/leader.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Join Us Popup
<div class="custom-model-main popup_leadership_joinus">
    <div class="custom-model-inner">
        <div class="close-btn">×</div>
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap">
                <div class="frombox">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="details">
                                <h4>Contact Information</h4>
                                <p>We’ll create high-quality linkable content and build at least 40 high-authority. We’ll create high-quality linkable content and build at least 40 high-authority. </p>
                                <h5>TaxManager</h5>
                                <h6><a href="https://goo.gl/maps/T13q4vsqy4s3Qkuu8"><span>Address: </span>18 - A, Wing F, 3rd Floor,
                                    Local Shopping Complex, Ring Rd, above LIC Office, A Block, Naraina Vihar, New Delhi, Delhi
                                    110028</a></h6>
                                <h6><a href="tel:+919555331122"><span>Call: </span> +91-9555331122</a></h6>
                                <h6> <a href="mailto:support@taxmanager.in"><span>Mail: </span> support@taxmanager.in</a></h6>
                                <h6>Follow Us:</h6>
                                <ul class="socialmedia">
                                    <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                                    <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="fromboxfill">
                                <form action="" method="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name.: <sup>*</sup></label>
                                                <input type="text" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email Id.: <sup>*</sup></label>
                                                <input type="email" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile No.: <sup>*</sup></label>
                                                <input type="number" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City: </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Your Message: <sup>*</sup></label>
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="fromsubmit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>
-->

    <!-- Main leadership -->
    <div class="leader_express">
        <div class="container">
            <div class="row">
                <h2>TaxManager experienced leadership team helms a <span>highly professional, agile</span> and
                    <span>sustainable business</span></h2>
            </div>
        </div>
    </div>
    <!-- ceo -->
    <div class="ceo_founder">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="textzonsec">
                        <h3>Founder and CEO</h3>
                        <h4>Deepak Kumar Jain</h4>
                        <p>Chief Executive and Promoter of Rising Advisory Services Private Limited widely known as www.TaxManager.in – an e-Filing of Income Tax and Compliance Management Company. He is a PGDM holder from International Management Institute,
                            New Delhi in International Management along with qualified diplomas in the field of Finance. Hailing from a Chartered Accountancy family – audit, accounts and taxes has been flowing through his blood. Since his child hood he
                            was always fascinated with technology and the entrepreneur bug in him made him to do something out of the family backed profession. So after his studies he decided to start Rising Advisory having taxes, accounts and audit in
                            mind as business subject – he started the concept online CA Assistance under the brand name of eTaxesIndia.com in 2007.</p>
                        <p>With a vision of making Taxes and Compliance simple both for Individual and Corporate he architected www.TaxManager.in an online e-filing of income tax return and compliance management portal for individuals in 2009.
                        </p>
                        <p>Since then under his leadership the brand has grown multiple fold times with a customer base of more then 2.2 lakh registered users and more than 30000 CA Assisted satisfied clients.
                        </p>
                        <p>Under his leadership www.TaxManager.in has won prestigious awards like Business Leaders of Tomorrow – 2013 and 2014 from Economic Times and India Mart under SME Segment.</p>
                        <p>He has been instrumental in building relationship between TaxManager.in and HDFC Group and other financial institutions to provide tax services within the groups as to their employees and customer base. He has been also very active
                            in start up community and mentored few start ups to a big success stories.
                        </p>
                        <p>He has experience in the field of finance and IT for more than 20 years and been leading the finance and audit teams of certain of Jain & Co, CA firm (well-known CA firm in India) before promoting Rising Advisory Services Private
                            Limited and TaxManager.in.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="imagessec">
                        <div class="top-images">
                            <img src="/Images/top-off-img.png" alt="">
                        </div>
                        <div class="lef-side-img">
                            <img src="/Images/own.png" alt="">
                        </div>
                        <div class="right-side-img">
                            <img src="/Images/righ-off-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hr section -->
    <div class="hr-section">
        <div class="container">
            <div class="row">
                <h3>Human resources</h3>
            </div>
        </div>
    </div>
    <div class="hr-sec-contain">
        <div class="container">
            <div class="row">
                <div class="box-with">
                    <div class="rightomages">
                        <div class="profile-img">
                            <img src="/Images/gallery/vidhi_jain.png" alt="">
                        </div>
                        <h4>Director</h4>
                        <h5>Admin and Human resources</h5>
                        <h6>Follow:</h6>
                        <ul>
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                        </ul>

                    </div>
                    <div class="leftcontain">
                        <h5>Director - Admin and HR</h5>
                        <h4>Vidhi Jain</h4>
                        <p>Vidhi completed her graduation in BSc from Agra and has several years of experience in admin department across various industries. She has been associated with TaxManager.in since its inception in 2009 She has played an important
                            role in the growth of TaxManager.in and under her guidance the dream has grown multifolds
                        </p>
                        <p>Vidhi completed her graduation in BSc from Agra and has several years of experience in admin department across various industries. She has been associated with TaxManager.in since its inception in 2009 She has played an important
                            role in the growth of TaxManager.in and under her guidance the dream has grown multifolds Vidhi completed her graduation in BSc from Agra and has several years of experience in admin department across various industries. Vidhi
                            completed her graduation in BSc from Agra and has several years of experience in admin department across various industries. She has been associated with TaxManager.in since its inception in 2009 She has played an important
                            role in the growth of TaxManager.in and under her guidance the dream has grown multifolds
                        </p>
                        <p>
                            Vidhi completed her graduation in BSc from Agra and has several years of experience in admin department across various industries. She has been associated with TaxManager.in since its inception in 2009 She has played an important role in the growth of
                            TaxManager.in and under her guidance the dream </p>
                    </div>
                </div>
                <div class="box-with">
                    <div class="rightomages">
                        <div class="profile-img">
                            <img src="/Images/gallery/ekta_sachdeva.png" alt="">
                        </div>
                        <h4>Director</h4>
                        <h5>Head - Operations </h5>
                        <h6>Follow:</h6>
                        <ul>
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                        </ul>

                    </div>
                    <div class="leftcontain">
                        <h5>Head - Operations</h5>
                        <h4>Ekta Sachdeva </h4>
                        <p>Ekta is a Fellow of Chartered Accountant and Commerce Graduate from Shri Ram College of Commerce. She has been associated with TaxManager.in since its inception and has been instrumental in shaping TaxManager.in one of the largest
                            and top tax filing and compliance management company. Having industry experince of more than 16 years she has been able to scale up the operations and manage the team building process of TaxManager.in since the sratch. She
                            is avid reader and loves to spent her quality time with her kids and family when ever she gets time.
                        </p>
                        <p>Ekta is a Fellow of Chartered Accountant and Commerce Graduate from Shri Ram College of Commerce. She has been associated with TaxManager.in since its inception and has been instrumental in shaping TaxManager.in one of the largest
                            and top tax filing and compliance management company. Having industry experince of more than 16 years she has been able to scale up the operations and manage the team building process of TaxManager.in since the sratch. She
                            is avid reader and loves to spent her quality time with her kids and family when ever she gets time.Ekta is a Fellow of Chartered Accountant and Commerce Graduate from Shri Ram College of Commerce. She has been associated with
                            TaxManager.in since its inception and has been instrumental in shaping TaxManager.in one of the largest and top tax filing and compliance management company. Having industry experince of more than 16 years she has been able
                            to scale up the operations and manage the team building process of TaxManager.in since the sratch. She is avid reader and loves to spent her quality time with her kids and family when ever she gets time.</p>
                    </div>
                </div>
                <div class="box-with">
                    <div class="rightomages">
                        <div class="profile-img">
                            <img src="/Images/gallery/shekhar_kundra.png" alt="">
                        </div>
                        <h4>Director</h4>
                        <h5>Head - Information and Technology </h5>
                        <h6>Follow:</h6>
                        <ul>
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                        </ul>

                    </div>
                    <div class="leftcontain">
                        <h5>Head - Information and Technology</h5>
                        <h4>Shekhar Kundra </h4>
                        <p>Shekhar carries 17 years of experience in software development and project management. He is responsible of taking care of IT of TaxManager.in and architect mind of the new application of ITR Filing in TaxManager.in</p>
                        <p>He loves teaching and nurturing talents and has been working as visiting faculty in various universities and institutes. He has worked into differnt roles and levels across several companies before joining TaxManager.in</p>
                        <p>Ekta is a Fellow of Chartered Accountant and Commerce Graduate from Shri Ram College of Commerce. She has been associated with TaxManager.in since its inception and has been instrumental in shaping TaxManager.in one of the largest
                            and top tax filing and compliance management company. Having industry experince of more than 16 years she has been able to scale up the operations and manage the team building process of TaxManager.in since the sratch. She
                            is avid reader and loves to spent her quality time with her kids and family when ever she gets time.Ekta is a Fellow of Chartered Accountant and Commerce Graduate from Shri Ram College of Commerce. She has been associated with
                            TaxManager.in since its inception and has been instrumental in shaping TaxManager.in one of the largest and top tax filing and compliance management company. Having industry experince of more than 16 years she has been able
                            to scale up the operations and manage the team building process of TaxManager.in since the sratch. She is avid reader and loves to spent her quality time with her kids and family when ever she gets time.</p>
                    </div>
                </div>
                <div class="box-with">
                    <div class="rightomages">
                        <div class="profile-img">
                            <img src="/Images/gallery/Gagandeep_Arora.png" alt="">
                        </div>
                        <h4>Director</h4>
                        <h5>Head - Content Management and Digital Marketing</h5>
                        <h6>Follow:</h6>
                        <ul>
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                        </ul>

                    </div>
                    <div class="leftcontain">
                        <h5>Head - Content Management and Digital Marketing</h5>
                        <h4>Gagandeep Arora </h4>
                        <p>Gagandeep is responsible for Content Management and Digital Marketing function in TaxManager.in. She is an MBA in Fin and also a well known personal finance blogger.Gagandeep is responsible for Content Management and Digital Marketing
                            function in TaxManager.in. She is an MBA in Fin and also a well known personal finance blogger.Gagandeep is responsible for Content Management and Digital Marketing function in TaxManager.in. She is an MBA in Fin and also a
                            well known personal finance blogger.</p>
                        <p>Gagandeep is responsible for Content Management and Digital Marketing function in TaxManager.in. She is an MBA in Fin and also a well known personal finance blogger.Gagandeep is responsible for Content Management and Digital Marketing
                            function in TaxManager.in. She is an MBA in Fin and also a well known personal finance blogger.Gagandeep is responsible for Content Management and Digital Marketing function in TaxManager.in. She is an MBA in Fin and also a
                            well known personal finance blogger.Gagandeep is responsible for Content Management and Digital Marketing function in TaxManager.in. She is an MBA in Fin and also a well known personal finance blogger.Gagandeep is responsible
                            for Content Management and Digital Marketing function in TaxManager.in. She is an MBA in Fin and also a well known personal finance blogger.Gagandeep is responsible for Content Management and Digital Marketing function in TaxManager.in.
                            She is an MBA in Fin and also a well known personal finance blogger.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step LEader -->
    <div class="stepleadership">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="stepsetion">
                        <div class="box">
                            <span>1</span>
                        </div>
                        <div class="imgr">
                            <img src="assets/icon/Vision.png" alt="">
                        </div>
                        <h4>Vision</h4>
                        <p>To be one of the leading online tax and compliance management consultants to both individual and business in India</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stepsetion">
                        <div class="box">
                            <span>2</span>
                        </div>
                        <div class="imgr">
                            <img src="assets/icon/Aligned_Purpose.png" alt="">
                        </div>
                        <h4>Aligned Purpose </h4>
                        <p>Recommending Tax and Compliance Strategies that align with individuals or business goals </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stepsetion">
                        <div class="box">
                            <span>3</span>
                        </div>
                        <div class="imgr">
                            <img src="assets/icon/Great_Team.png" alt="">
                        </div>
                        <h4>Great Team </h4>
                        <p>Coming together is a beginning, staying together is progress, and working together is success. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery -->
    <div class="galelery">
        <div class="container">
            <div class="row">
                <div class="col-md-3 p-2 pe-0">
                    <div class="magnific-img imagesbox gallery__ite__1">
                        <a class="image-popup-vertical-fit" href="/Images/gallery/img1.png" title="TaxManager Gallery">
                            <img src="/Images/gallery/img1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3  p-2 pe-0">
                    <div class="magnific-img imagesbox gallery__ite__1">
                        <a class="image-popup-vertical-fit" href="/Images/gallery/img2.png" title="TaxManager Gallery">
                            <img src="/Images/gallery/img2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 p-2 pe-0">
                    <div class="magnific-img imagesbox gallery__ite__1">
                        <a class="image-popup-vertical-fit" href="/Images/gallery/img3.png" title="TaxManager Gallery">
                            <img src="/Images/gallery/img3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 p-2">
                    <div class="magnific-img imagesbox gallery__ite__1">
                        <a class="image-popup-vertical-fit" href="/Images/gallery/img4.png" title="TaxManager Gallery">
                            <img src="/Images/gallery/img4.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 p-2 pe-0">
                    <div class="row">
                        <div class="magnific-img imagesbox gallery__ite__2">
                            <a class="image-popup-vertical-fit" href="/Images/gallery/img5.png" title="TaxManager Gallery">
                                <img src="/Images/gallery/img5.png" alt="">
                            </a>
                        </div>
                        <div class="magnific-img imagesbox gallery__ite__2">
                            <a class="image-popup-vertical-fit" href="/Images/gallery/img6.png" title="TaxManager Gallery">
                                <img src="/Images/gallery/img6.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="row">
                        <div class="magnific-img imagesbox gallery__ite__2">
                            <a class="image-popup-vertical-fit" href="/Images/gallery/img7.png" title="TaxManager Gallery">
                                <img src="/Images/gallery/img7.png" alt="">
                            </a>
                        </div>
                        <div class="magnific-img imagesbox gallery__ite__2">
                            <a class="image-popup-vertical-fit" href="/Images/gallery/img8.png" title="TaxManager Gallery">
                                <img src="/Images/gallery/img8.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partial/footer.ejs") %>) %>