<%- include("../partial/header.ejs") %>

    <!-- Main Banner -->
    <div class="main-bannner">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="teaxt">
                            <h1>Media </h1>
                            <p>We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely
                                linked to business goals. We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals. </p>
                        </div>
                    </div>
                    <div class="col-md-5 pe-0">
                        <div class="img-box">
                            <img src="/Images/media_baner_section.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-9">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/Tax-1-770x433.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>Income-tax experts and CAs hail common tax filing form proposal</h4>
                                            <h5>Published in Money Control <span>7th Nov 2022</span> </h5>
                                            <div class="text-zon">
                                                <p>After the overhaul of the income-tax website to make tax-filing easier comes a proposal to have a common ITR form, which will ensure that taxpayers are asked only relevant questions, depending on the nature
                                                    and level of their income. </p>
                                                <p>Every year the Central Board of Direct Taxes (CBDT) issues updated Income Tax Return (ITR) forms around the start of the new assessment year i.e., in the month of April. The updated forms are used for the
                                                    filing of returns on income earned in the previous year or the relevant financial year. </p>
                                            </div>
                                            <a href="https://www.moneycontrol.com/news/business/personal-finance/income-tax-experts-and-cas-hail-common-tax-filing-form-proposal-9462381.html">Read
                                                More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/Dubai-property-770x433.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>ALondon, Dubai, NY: How to buy a property abroad </h4>
                                            <h5>Published in Money Control <span>18th Sep 2022                                            </span> </h5>
                                            <div class="text-zon">
                                                <p>Do you know Indians own the maximum properties in London? In fact, the number of Indian property owners exceeds native English property owners.</p>
                                                <p> Not just in London, Indians are buying properties even in places like Dubai, New York, and Manchester. </p>
                                                <p>Not just in London, Indians are buying properties even in places like Dubai, New York, and Manchester.</p>
                                            </div>
                                            <a href="https://www.moneycontrol.com/news/business/personal-finance/london-dubai-ny-how-to-buy-a-property-abroad-9197831.html">Read More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/1657890671-2291.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>Address cause of tax refund failure, then request reissuance: Experts</h4>
                                            <h5>Published in Business Standard <span>7th Sep 2022</span></h5>
                                            <div class="text-zon">
                                                <p>zThe Income-Tax (I-T) Department has issued tax refunds amounting to more than Rs 1.14 lakh crore to over 1.97 crore taxpayers between April 1, 2022 and August 31, 2022. If you filed your Income-Tax Return
                                                    (ITR) on time and haven't got your refund yet, you need to take a few steps. </p>
                                                <p>Says Deepak Jain, chief executive, TaxManager.in, </p>
                                            </div>
                                            <a href="https://www.business-standard.com/article/pf/address-cause-of-tax-refund-failure-then-request-reissuance-experts-122090700945_1.html">Read
                                                More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/Tax-1-770x433.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4> Filed your taxes? Now, what to do if you get a notice? </h4>
                                            <h5>Published in Money Control <span>2th Sep 2022</span> </h5>
                                            <div class="text-zon">
                                                <p>Now that you have filed your income tax return (ITR)—and we hope that you did by July 31—you need to check your mailbox—physical and digital—to see if you have received any messages from the income tax (I-T)
                                                    department.
                                                </p>
                                                <p>Since the I-T department processing is now fully automated, your post-filing returns are processed at the department’s centralised processing centre (CPC). That means that most communications are computerised.
                                                    During the process, you may receive intimations and notices from the department under different sections.</p>
                                            </div>
                                            <a href="https://www.moneycontrol.com/news/business/personal-finance/filed-your-taxes-now-what-to-do-if-you-get-a-notice-9119571.html">Read
                                                More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/1656681686-629.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>Cash transactions of Rs 2 lakh plus per day could incur a penalty: Experts</h4>
                                            <h5>Published in Business Standard <span>18th Aug 2022</span></h5>
                                            <div class="text-zon">
                                                <p> In a recent case, the Income-Tax Appellate Tribunal (ITAT), Delhi bench, held that cash gifts from brother and sister can’t be treated as ‘unexplained’ by the assessing officer, especially if they were given
                                                    for a medical emergency. The case, however, once again highlights the need for taxpayers to know the rules and limits that govern cash transactions.</p>
                                                <p>Says Deepak Jain, chief executive, TaxManager.in, </p>
                                            </div>
                                            <a href="https://www.business-standard.com/article/pf/cash-transaction-of-rs-2-lakh-or-more-in-a-day-can-lead-to-penalty-122081801301_1.html">Read More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/incometax-770x433.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>Revised, belated and updated income tax returns: Do you know the difference between them?</h4>
                                            <h5>Published in Money Control <span> 18th Aug 2022</span></h5>
                                            <div class="text-zon">
                                                <p> The last date to file your income-tax return for income earned in the financial year 2021-22 (assessment year 2022-23) has passed. But you can still file your tax return in some cases.</p>
                                                <p>For instance, if you have already filed your income tax return, but discovered any mistake or missed reporting any income, you can file a revised return.</p>
                                            </div>
                                            <a href="bhttps://www.moneycontrol.com/news/business/personal-finance/revised-belated-and-updated-income-tax-returns-do-you-know-the-difference-between-them-9039911.html">Read More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/itr_1659633766077_1659633780822_1659633780822.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>The trouble with missing ITR deadline under new tax regime</h4>
                                            <h5>Published in Mint on <span>5th Aug 2022</span></h5>
                                            <div class="text-zon">
                                                <p>Did you plan your taxes for the current assessment year (AY2022-23) as per the new tax regime but missed filing the income tax return (ITR) by the 31 July deadline? Well, you are in for an unpleasant surprise.
                                                    Income Tax (I-T) laws do not allow taxpayers to file belated ITR under the new tax regime, which would mean that all belated ITRs have to be mandatorily filed as per the old regime.</p>
                                                <p>Says Deepak Jain, chief executive, TaxManager.in, </p>

                                            </div>
                                            <a href="https://www.livemint.com/money/personal-finance/the-trouble-with-missing-itr-deadline-under-new-tax-regime/amp-11659633487651.html">Read More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/1657890671-2291.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>If you've missed July 31 deadline, file a belated ITR: What you should know.</h4>
                                            <h5>Published in Business Standard on <span>4th Aug 2022</span></h5>
                                            <div class="text-zon">
                                                <p>Taxpayers who missed the July 31, 2022 deadline for filing Income-Tax Return (ITR) may file a belated return. A belated return can be filed for a previous year at any time three months before the expiry
                                                    of the relevant assessment year, or before completion of assessment, whichever is earlier. Hence, the effective date for filing a belated return for Assessment Year (AY) 2022–23 is December 31, 2022.</p>
                                            </div>
                                            <a href="https://www.business-standard.com/article/pf/if-you-ve-missed-the-july-31-it-return-deadline-file-a-belated-return-122080401130_1.html">Read
                                                More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/IMAGE_1645007161.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>ITR Filing Deadline: What Should You Do If You Missed Filing Your Return By the Due Date?</h4>
                                            <h5>Published in OUTLOOK MONEY on <span>1th Aug 2022</span></h5>
                                            <div class="text-zon">
                                                <p>The due date for filing your income tax return for the assessment year 2023 was July 31. The government has not given any extension to the ITR filing deadline, as has been confirmed today.</p>
                                                <p>Says Deepak Jain, chief executive, TaxManager.in, a tax e-filing and compliance management portal: “If due to any reason you have missed the deadline for filing your ITR for AY23, then you can still file
                                                    it with a late penalty fee. This return is called a belated return and can be filed prior to three months' end of the relevant assessment year.”</p>
                                            </div>
                                            <a href="https://www.outlookindia.com/business/missed-filing-your-income-tax-return-by-due-date-here-s-what-you-can-do-news-213418">Read More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="media_post_box">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="media_post_images">
                                            <img src="/Images/upload/Tax-break-rent_pic.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="textzone">
                                            <h4>Last minute tax-filing: 5 types of incomes you must not forget</h4>
                                            <h5>Published in Money Control on <span>30th July 2022</span></h5>
                                            <div class="text-zon">
                                                <p> Irrespective of the amount and whether it is taxable or exempt, make sure you disclose in your tax returns any income, windfall gains, capital gains, interest income, etc., you may have had during the financial
                                                    year
                                                </p>
                                                <p>“Interest income earned in the financial year is taxable under the heading ‘Income from other sources.' The taxability of interest income is determined by its source,” said Deepak Jain, Chief Executive,
                                                    TaxManager.in, a tax e-Filing and compliance management portal.</p>
                                            </div>
                                            <a href="https://www.moneycontrol.com/news/business/personal-finance/last-minute-tax-filing-5-types-incomes-you-must-not-forget-8921141.html">Read More..</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <%- include("../partial/right-side_media.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>