<%- include("../partial/header.ejs") %>
    <!-- Main Banner -->
    <div class="main-bannner we-are-hireing">
        <div class="jobtetx">
            <h5>Job</h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="teaxt">
                        <h4>We Have 208,000+ Live Jobs </h4>
                        <h1>We're Hiring</h1>
                        <p>Looking for a career change? Browse our job listings now!. We will always be dedicated to giving quality tax services to present and future businesses. Our working mode is always accurate, accredited, affordable and aligned for
                            excellence. Our motto is caring for your books so you don't have to. We have a strong team for guidance in the taxation world, and a strong aptitude that helps deliver high-quality services. </p>
                    </div>
                </div>
                <div class="col-md-5 pe-0">
                    <div class="img-box">
                        <img src="/Images/we_are_hering_banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Post-->
    <div class="jobpostsec">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    <div class="post_Sectio">
                        <div class="post">
                            <div class="head">
                                <div class="texat">
                                    <h4>sale</h4>
                                    <h5>G4S <span>4.0 <i class="fa fa-star"></i> (1546 Reviews)</span></h5>
                                    <ul>
                                        <li><span><i class="fa fa-briefcase"></i></span> 0 - 1 years</li>
                                        <li><span><i class="fa fa-inr"></i></span> Not Disclosed</li>
                                        <li><span><i class="fa fa-clock-o"></i></span>Full Time</li>
                                        <li><span><i class="fa fa-map-marker"></i></span> Delhi / NCR</li>
                                        <li><span>Posted:</span> 1 day ago</li>
                                        <li><span>Openings:</span> 1</li>
                                        <li><span>Job Applicants:</span> 10</li>
                                    </ul>
                                </div>
                                <div class="logo">
                                    <img src="/Images/logo.png" alt="">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In commodi minima deserunt vel. Quod dicta, ad earum aliquid, iure vel quo illum minima libero, veniam quasi nemo modi. Eos quaerat aut ex inventore excepturi maxime
                                ullam dignissimos praesentium, vel molestias temporibus, non maiores fuga repudiandae beatae consectetur laboriosam sint aliquam doloribus ea. Quod alias ipsum cum ipsa voluptas ipsam aut nesciunt explicabo nisi ex, repellat
                                saepe, excepturi ullam ad iure sint aspernatur velit consectetur eaque distinctio amet! Nisi tempora nemo similique ea inventore unde eligendi minus laborum laboriosam odit sit deserunt culpa, dolores ab ipsam blanditiis?
                                Accusamus soluta, corporis debitis qui voluptatum, ex provident quam accusantium excepturi nesciunt temporibus sapiente dolor. Labore ad consequuntur optio molestiae similique! Molestiae eveniet vel praesentium inventore
                                rerum dolor fuga, soluta excepturi ducimus ea tempore quisquam nisi quas optio eius minus enim! Veritatis corrupti maxime necessitatibus perferendis quasi pariatur! Quis iusto voluptate error voluptates corporis!</p>

                            <div class="destctions">
                                <h4>Job description</h4>
                                <ul>
                                    <li>Building out custom Shopify themes and modifying pre-existing themes depending on the scope of the project.</li>
                                    <li>Working closely with cross-functional teams to address client requests</li>
                                    <li>Shopify custom APPS development (MUST)</li>
                                    <li>Implementation and Customization of pre-built apps like Bold, Recharge, etc.</li>
                                    <li>Create public and private Shopify apps.</li>
                                    <li>Write structured, well-organized, and reusable code.</li>
                                    <li>Implementation and customization of 3rd party custom apps</li>
                                </ul>
                                <h5>Skills Required:</h5>
                                <ul>
                                    <li>1-6 years of proven experience in Shopify / Shopify Plus</li>
                                    <li>Should have good understanding of Shopify 2.0 features</li>
                                    <li>Additional technology experience would be an added benefit</li>
                                    <li>Developed at least 5 to 10 public/private Website.</li>
                                    <li>Strong Knowledge of front-end programming languages and technologies such as JavaScript, HTML5, CSS3, Shopify Polaris, and jQuery.</li>
                                    <li>Expert knowledge in Custom Shopify APP development and theme development</li>
                                    <li>Hands on expertise in PHP and Shopify Liquid programming</li>
                                    <li>Awareness of the Marketing Events, Discounts, Gift Cards, and their configurations in Shopify</li>
                                    <li>Comfortable with customizations in themes and apps</li>
                                </ul>
                                <h5>Key Skills</h5>
                                <ul>
                                    <li>Shopify</li>
                                    <li>Shopify Plus</li>
                                    <li>Shopify Liquid</li>
                                </ul>
                                <h5>Required Experience and Qualifications </h5>
                                <ul>
                                    <li>B.Tech( CS/IT), BCA, MCA or any similar degree</li>
                                    <li>Candidate must be graduated</li>
                                    <li>Minimum 6 months experience in a related field</li>
                                </ul>
                            </div>
                            <button class="view_destcrtion">View Detail</button>
                        </div>
                    </div>
                    <div class="post_Sectio">
                        <div class="post">
                            <div class="head">
                                <div class="texat">
                                    <h4>HR Recruiter</h4>
                                    <h5>TaxManager <span>4.0 <i class="fa fa-star"></i> (1546 Reviews)</span></h5>
                                    <ul>
                                        <li><span><i class="fa fa-briefcase"></i></span> 1-4 yr</li>
                                        <li><span><i class="fa fa-inr"></i></span> Not Disclosed</li>
                                        <li><span><i class="fa fa-clock-o"></i></span>Full Time</li>
                                        <li><span><i class="fa fa-map-marker"></i></span> Delhi / NCR</li>
                                        <li><span>Posted:</span> 1 day ago</li>
                                        <li><span>Openings:</span> 1</li>
                                        <li><span>Job Applicants:</span> 10</li>
                                    </ul>
                                </div>
                                <div class="logo">
                                    <img src="/Images/logo.png" alt="">
                                </div>
                            </div>
                            <p> TaxManager.in is a top leading e-filing of income tax returns and tax management website for individuals in India and is also an authorized E Return Intermediary from Department of Income Tax which provides complete tax and
                                compliance management services to both individuals and corporate clients. www.TaxManager.in is one of the largest and preferred online e-filers in India having customer base of more than 2 lakhs as verified online account
                                holder. www.TaxManager.in has partnered with top companies like HDFC Bank Ltd, DC Bank Ltd, Spicejet, ITC, Zee News etc.</p>

                            <div class="destctions">
                                <p> TaxManager.in has been awarded as the best financial services company in India by Economic Times ET Now India Mart Business Leaders of Tomorrow 2013 for its innovative services in E-Filing, Tax and Compliance Management
                                    both for individuals and corporate clients. In 2014 TaxManager.in was nominated as the upcoming company in Financial Service Space by the same group. The link is http://www.taxmanager.in/news_awards_may_2014.html Click
                                    on the website link to know more about www.TaxManager.in and www.eTaxesIndia.com</p>
                                <h4>Job Responsibilities for HR Manager: </h4>
                                <ul>
                                    <li>Overseeing the recruitment process, designing company policies and setting objectives for the HR team.</li>
                                    <li>Set objectives for the HR team and track progress.</li>
                                    <li>Design and implement company policies that promote a healthy work environment.</li>
                                    <li>Develop compensation and benefits plans.</li>
                                    <li>Support and suggest improvements to the entire recruitment process</li>
                                    <li>Organize learning and development programs.</li>
                                    <li>Maintain HR procedures that comply with labor regulations, confidentiality.</li>
                                    <li>Employees disputes and discussing with Sr. Management on the decisions to be taken.</li>
                                    <li>Understand the needs and requirements of Training and development of staff.</li>
                                </ul>
                                <h5>Desire Candidate Profile :</h5>
                                <ul>
                                    <li>Must have good verbal and written communication skills.</li>
                                    <li>Required Experience : 1-4 yr </li>
                                    <li>Must be MBA(HR)</li>
                                    <li>Only Female Candidates </li>
                                </ul>
                            </div>
                            <button class="view_destcrtion">View Detail</button>
                        </div>
                    </div>
                    <div class="post_Sectio">
                        <div class="post">
                            <div class="head">
                                <div class="texat">
                                    <h4>Web Designer</h4>
                                    <h5>TaxManager <span>4.0 <i class="fa fa-star"></i> (1546 Reviews)</span></h5>
                                    <ul>
                                        <li><span><i class="fa fa-briefcase"></i></span> 1-2 yr</li>
                                        <li><span><i class="fa fa-inr"></i></span> Not Disclosed</li>
                                        <li><span><i class="fa fa-clock-o"></i></span>Full Time</li>
                                        <li><span><i class="fa fa-map-marker"></i></span> Delhi / NCR</li>
                                        <li><span>Posted:</span> 1 day ago</li>
                                        <li><span>Openings:</span> 1</li>
                                        <li><span>Job Applicants:</span> 10</li>
                                    </ul>
                                </div>
                                <div class="logo">
                                    <img src="/Images/logo.png" alt="">
                                </div>
                            </div>
                            <p> TaxManager.in is a top leading e-filing of income tax returns and tax management website for individuals in India and is also an authorized E Return Intermediary from Department of Income Tax which provides complete tax and
                                compliance management services to both individuals and corporate clients. www.TaxManager.in is one of the largest and preferred online e-filers in India having customer base of more than 2 lakhs as verified online account
                                holder. www.TaxManager.in has partnered with top companies like HDFC Bank Ltd, DC Bank Ltd, Spicejet, ITC, Zee News etc.</p>

                            <div class="destctions">
                                <p> TaxManager.in has been awarded as the best financial services company in India by Economic Times ET Now India Mart Business Leaders of Tomorrow 2013 for its innovative services in E-Filing, Tax and Compliance Management
                                    both for individuals and corporate clients. In 2014 TaxManager.in was nominated as the upcoming company in Financial Service Space by the same group. The link is http://www.taxmanager.in/news_awards_may_2014.html Click
                                    on the website link to know more about www.TaxManager.in and www.eTaxesIndia.com</p>
                                <h4>Job Responsibilities for HR Manager: </h4>
                                <ul>
                                    <li>Responsible for handling clients accounts.</li>
                                    <li>Handling the HNI clients.</li>
                                    <li>Develop and maintain the relationship with existing clients.</li>
                                    <li>Solve the queries of the clients.</li>
                                    <li>Preferred female candidates.</li>
                                </ul>
                                <h5>Desire Candidate Profile :</h5>
                                <ul>
                                    <li>Must have good verbal and written communication skills.</li>
                                    <li>Preferred B.com / BBA graduate/MBA</li>
                                    <li>Required Experience : 1-2 yr</li>
                                    <li>Fresher's can also apply</li>
                                </ul>
                            </div>
                            <button class="view_destcrtion">View Detail</button>
                        </div>
                    </div>
                    <div class="post_Sectio">
                        <div class="post">
                            <div class="head">
                                <div class="texat">
                                    <h4>Customer Relationship Associate</h4>
                                    <h5>TaxManager <span>4.0 <i class="fa fa-star"></i> (1546 Reviews)</span></h5>
                                    <ul>
                                        <li><span><i class="fa fa-briefcase"></i></span> 1-2 yr</li>
                                        <li><span><i class="fa fa-inr"></i></span> Not Disclosed</li>
                                        <li><span><i class="fa fa-clock-o"></i></span>Full Time</li>
                                        <li><span><i class="fa fa-map-marker"></i></span> Delhi / NCR</li>
                                        <li><span>Posted:</span> 1 day ago</li>
                                        <li><span>Openings:</span> 1</li>
                                        <li><span>Job Applicants:</span> 10</li>
                                    </ul>
                                </div>
                                <div class="logo">
                                    <img src="/Images/logo.png" alt="">
                                </div>
                            </div>
                            <p> TaxManager.in is a top leading e-filing of income tax returns and tax management website for individuals in India and is also an authorized E Return Intermediary from Department of Income Tax which provides complete tax and
                                compliance management services to both individuals and corporate clients. www.TaxManager.in is one of the largest and preferred online e-filers in India having customer base of more than 2 lakhs as verified online account
                                holder. www.TaxManager.in has partnered with top companies like HDFC Bank Ltd, DC Bank Ltd, Spicejet, ITC, Zee News etc.</p>

                            <div class="destctions">
                                <p> TaxManager.in has been awarded as the best financial services company in India by Economic Times ET Now India Mart Business Leaders of Tomorrow 2013 for its innovative services in E-Filing, Tax and Compliance Management
                                    both for individuals and corporate clients. In 2014 TaxManager.in was nominated as the upcoming company in Financial Service Space by the same group. The link is http://www.taxmanager.in/news_awards_may_2014.html Click
                                    on the website link to know more about www.TaxManager.in and www.eTaxesIndia.com</p>
                                <h4>Job Responsibilities for HR Manager: </h4>
                                <ul>
                                    <li>Responsible for handling clients accounts.</li>
                                    <li>Handling the HNI clients.</li>
                                    <li>Develop and maintain the relationship with existing clients.</li>
                                    <li>Solve the queries of the clients.</li>
                                    <li>Preferred female candidates.</li>
                                </ul>
                                <h5>Desire Candidate Profile :</h5>
                                <ul>
                                    <li>Must have good verbal and written communication skills.</li>
                                    <li>Preferred B.com / BBA graduate/MBA</li>
                                    <li>Required Experience : 1-2 yr</li>
                                    <li>Fresher's can also apply</li>
                                </ul>
                            </div>
                            <button class="view_destcrtion">View Detail</button>
                        </div>
                    </div>
                    <div class="post_Sectio">
                        <div class="post">
                            <div class="head">
                                <div class="texat">
                                    <h4>Accounts Executive - CA Fresher/ Finalist</h4>
                                    <h5>TaxManager <span>4.0 <i class="fa fa-star"></i> (1546 Reviews)</span></h5>
                                    <ul>
                                        <li><span><i class="fa fa-briefcase"></i></span> 1-2 yr</li>
                                        <li><span><i class="fa fa-inr"></i></span> Not Disclosed</li>
                                        <li><span><i class="fa fa-clock-o"></i></span>Full Time</li>
                                        <li><span><i class="fa fa-map-marker"></i></span> Delhi / NCR</li>
                                        <li><span>Posted:</span> 1 day ago</li>
                                        <li><span>Openings:</span> 1</li>
                                        <li><span>Job Applicants:</span> 10</li>
                                    </ul>
                                </div>
                                <div class="logo">
                                    <img src="/Images/logo.png" alt="">
                                </div>
                            </div>
                            <p> TaxManager.in is a top leading e-filing of income tax returns and tax management website for individuals in India and is also an authorized E Return Intermediary from Department of Income Tax which provides complete tax and
                                compliance management services to both individuals and corporate clients. www.TaxManager.in is one of the largest and preferred online e-filers in India having customer base of more than 2 lakhs as verified online account
                                holder. www.TaxManager.in has partnered with top companies like HDFC Bank Ltd, DC Bank Ltd, Spicejet, ITC, Zee News etc.</p>

                            <div class="destctions">
                                <p> TaxManager.in has been awarded as the best financial services company in India by Economic Times ET Now India Mart Business Leaders of Tomorrow 2013 for its innovative services in E-Filing, Tax and Compliance Management
                                    both for individuals and corporate clients. In 2014 TaxManager.in was nominated as the upcoming company in Financial Service Space by the same group. The link is http://www.taxmanager.in/news_awards_may_2014.html Click
                                    on the website link to know more about www.TaxManager.in and www.eTaxesIndia.com</p>
                                <h4>Job Responsibilities for HR Manager: </h4>
                                <ul>
                                    <li>Responsible for handling clients accounts.</li>
                                    <li>Handling the HNI clients.</li>
                                    <li>Develop and maintain the relationship with existing clients.</li>
                                    <li>Solve the queries of the clients.</li>
                                    <li>Preferred female candidates.</li>
                                </ul>
                                <h5>Desire Candidate Profile :</h5>
                                <ul>
                                    <li>Must have good verbal and written communication skills.</li>
                                    <li>Preferred B.com / BBA graduate/MBA</li>
                                    <li>Required Experience : 1-2 yr</li>
                                    <li>Fresher's can also apply</li>
                                </ul>
                            </div>
                            <button class="view_destcrtion">View Detail</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="fromsection">
                        <form action="">
                            <div class="form-group">
                                <label>Name.:</label>
                                <input type="text" class="form-control" placeholder="Enter Your Name.:">
                            </div>
                            <div class="form-group">
                                <label>Email Id.:</label>
                                <input type="email" class="form-control" placeholder="Enter Your Email Id.:">
                            </div>
                            <div class="form-group">
                                <label>Mobile No.:</label>
                                <input type="number" class="form-control" placeholder="Enter Your Mobile No.:">
                            </div>
                            <div class="form-group">
                                <label>Upload CV:</label>
                                <input type="file" class="form-control" placeholder="Upload CV">
                            </div>
                            <div class="form-group">
                                <label>Select Job Post.:</label>
                                <select class="form-control">
                                <option value="sale">Sales</option>
                                <option value="web_designer" selected>web designer</option>
                                <option value="developer">Developer</option>
                                <option value="hr">HR</option>
                                <option value="tl">TL</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <button>Apply Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>