<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 themcolor">
                <h4>CONTACT US</h4>
                <h5>TaxManager</h5>
                <h6><a href="https://goo.gl/maps/T13q4vsqy4s3Qkuu8"><span>Address: </span>18 - A, Wing F, 3rd Floor,
                            Local Shopping Complex, Ring Rd, above LIC Office, A Block, Naraina Vihar, New Delhi, Delhi
                            110028</a></h6>
                <h6><a href="tel:+919555331122"><span>Call: </span> +91-9555331122</a></h6>
                <h6> <a href="mailto:support@taxmanager.in"><span>Mail: </span> support@taxmanager.in</a></h6>
                <h6>Follow Us:</h6>
                <ul class="socialmedia">
                    <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                    <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                    <li><a href="#"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                    <li><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbox">
                            <h4>TAX MANAGEMENT</h4>
                            <ul>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> TAX ADVISORY</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> ANNUAL SUBSCRIPTION PACKAGE</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> CTC OPTIMIZER</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> TAX RETURN RECTIFICATION</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> IT DEMAND/ NOTICE</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> KNOW YOUR TAX HISTORY</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> TAX QUERY</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>INVESTMENTS</h4>
                        <ul>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> PLAN YOU TAX SAVINGS</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> START INVESTING</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> MUTUAL FUNDS</a> </li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> LIFE INSURANCE</a> </li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> HEALTH INSURANCE</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> PUBLIC PROVIDENT FUND</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> NATIONAL SAVINGS CERTIFICATES </a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> NPS</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> OTHER'S</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>BUSINESS</h4>
                        <ul>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> EMPLOYEE CARE E-FORM 16 AND PAYROLLS</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> GST SERVICES</a> </li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> STARTUP                                        PROGRAM</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> ACCOUNTING                                        MANAGEMENT</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> TDS AND TAX                                        MANAGEMENT</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> COMPLIANCE                                        MANAGEMENT</a></li>
                            <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> COMPANY                                        REGISTRATION</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="navbox lastnavbox">
                            <h4>STARTUPS </h4>
                            <ul>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> LAUNCH YOUR                                            STARTUP</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> MANAGE YOUR                                            STARTUP</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> GROW YOUR                                            STARTUP</a></li>
                            </ul>
                            <h4>TAX E-FILING</h4>
                            <ul>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> BASIC - SELF                                            EFILING</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> CA ASSISTED                                            E-FILING - SALARIED</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> CA ASSISTED                                            E-FILING - CAPITAL GAINS</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> PROFESSIONAL/                                            SELF EMPLOYED</a></li>
                                <li><a href="coming_soon"><span><i class="fa fa-angle-double-right"></i></span> NRI                                            RETURNS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright -->
<div class="copyright">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 text-left">
                <ul>
                    <li><a href="privacy_policy">Privacy Policy</a></li>
                    <li><a href="security">Security</a></li>
                    <li><a href="legal_disclaimer">Legal Disclaimer</a></li>
                    <li><a href="faq">FAQs</a></li>
                    <li><a href="terms_and_conditions">Terms and Conditions</a></li>
                    <li><a href="404">Site Map</a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="row reverse-md-sm">
                    <div class="col-md-5 ps-0 text-center">
                        <p>Copyrights © Rising Advisory Services Private Limited.</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <ul>
                            <li><a href="index">Home</a></li>
                            <li><a href="about_us">About Us</a></li>
                            <li><a href="contact_us">Contact Us</a></li>
                            <li><a href="media">Media</a></li>
                            <li><a href="support">Support</a></li>
                            <li><a href="blogs">Blogs</a></li>
                            <li><a href="we-are-hiring">We're Hiring</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scroll -->
<div class="scroll_To_Top ">
    <i class="fa fa-angle-double-down "></i>
</div>


<!-- Script File -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/other.js"></script>

</body>

</html>