<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title And Fav -->
    <title>
        <%- title %>
    </title>
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    <!-- Style File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/sylesheet.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- google Font -->
    <link rel="stylesheet" href="/font/google.font.css">
    <!-- Font Awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <!-- Light Box -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup/magnific-popup.css">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="mobile-nenu">
                <div id="toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <a href="index">
                            <img src="/Images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="user-mobile-views">
                        <ul>
                            <li><a href="#"><span><i class="fa fa-phone"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-user-circle-o"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-shopping-cart"></i></span></a></li>
                        </ul>
                    </div>
                    <nav>
                        <ul>
                            <li class="show_drop_menu"><a href="#">Individuals<span><i class="fas fa-angle-down"></i></span></a>
                                <div class="mega-menu open_drop_menu">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="divider-box">
                                                <h4>TAX E-FILING</h4>
                                                <ul>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile.png"alt=""></span>Basic - Self eFiling</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile2.png"alt=""></span>CA Assisted e-Filing - Let our CA your Taxes</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile3.png" alt=""></span>ITR 4 - Individual Business/Professionals</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile4.png" alt=""></span>NRI Returns</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile5.png"alt=""></span>Tax Refund</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile6.png"alt=""></span>ITR V and 26 AS Tax Credit Check</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="divider-box">
                                                <h4>TAX MANAGEMENT</h4>
                                                <ul>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/tax-man.png" alt=""></span>Tax Advisory</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/tax-man2.png" alt=""></span>Annual Subscription Package</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/tax-man3.png" alt=""></span>CTC Optimizer</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile5.png" alt=""></span>Tax Return Rectification</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/text-efile6.png"alt=""></span>IT Demand/ Notice</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/tax-man4.png" alt=""></span>Know your Tax History</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/tax-man5.png" alt=""></span>PAN Application</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/tax-man6.png"alt=""></span>Digital Signature</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="divider-box">
                                                <h4>INVESTMENTS</h4>
                                                <ul>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers.png" alt=""></span>Plan Your Tax Savings</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers2.png" alt=""></span>Start investing </a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers3.png" alt=""></span>Mutual Funds</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers4.png" alt=""></span>Life Insurance</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers5.png" alt=""></span>Heath insurance</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers6.png" alt=""></span>Public Provident Fund</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers7.png"  alt=""></span>National Saving Certificates</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers8.png" alt=""></span>NPS</a></li>
                                                    <li><a href="coming_soon"><span><img src="/Images/icon/invers9.png" alt=""></span>Others</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="dropdown show_drop_menu"><a href="#">Business<span><i class="fas fa-angle-down"></i></span></a>
                                <div class="drop-menu open_drop_menu">
                                    <ul>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness.png" alt=""></span>Employee Care e-Form 16 and Payrolls</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness2.png" alt=""></span>GST Services</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness3.png" alt=""></span>Startup Program</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness4.png" alt=""></span>Accounting Management</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness5.png" alt=""></span>TDS and Tax Management</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness6.png" alt=""></span>Compliance Management</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/busness7.png" alt=""></span>Company Registration</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown show_drop_menu"><a href="coming_soon">NRI<span><i class="fas fa-angle-down"></i></span></a> </li>

                            <li class="dropdown show_drop_menu"><a href="#">Startups<span><i class="fas fa-angle-down"></i></span></a>
                                <div class="drop-menu open_drop_menu">
                                    <ul>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/step.png" alt=""></span>Launch your Startup</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/step2.png" alt=""></span>Manage your Startup</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/step3.png" alt=""></span>Grow your Startup</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown show_drop_menu"><a href="#">Us <span><i class="fas fa-angle-down"></i></span></a>
                                <div class="drop-menu open_drop_menu">
                                    <ul>
                                        <li><a href="about_us"><span><img src="/Images/icon/user.png" alt=""></span> About Us</a> </li>
                                        <li><a href="support"><span><img src="/Images/icon/user2.png" alt=""></span> Support</a> </li>
                                        <li><a href="blogs"><span><img src="/Images/icon/user3.png" alt=""></span> Blogs</a> </li>
                                        <li><a href="media"><span><img src="/Images/icon/user4.png" alt=""></span> Media</a> </li>
                                        <li><a href="leadership"><span><img src="/Images/icon/user.png" alt=""></span>Leadership</a> </li>
                                        <li><a href="gallery"><span><img src="/Images/icon/user4.png" alt=""></span> Gallery</a> </li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/user5.png" alt=""></span> Knowledge                                                Bank</a></li>
                                        <li><a href="coming_soon"><span><img src="/Images/icon/user6.png" alt=""></span> Tax Calc</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="loginsec"><a href="coming_soon"><span><i class="fas fa-lock"></i></span>Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>