<div class="rightside">
    <div class="search">
        <input type="text" name="search" class="form-control" placeholder="Search">
        <button>Search</button>
    </div>
    <div class="catgery">
        <h4>IN THE NEWS</h4>
        <ul>
            <li class="flex"><a href="https://www.business-standard.com/article/pf/file-itr-to-avoid-tds-tcs-deduction-at-higher-rate-say-analysts-122051901673_1.html">File
                    ITR to avoid TDS/TCS deduction at higher rate, say analysts</a></li>
            <li class="flex"><a href="https://www.outlookindia.com/business/sgb-2016-17-series-iii-up-for-early-redemption-on-may-17-know-the-tax-implication-news-196965">SGB
                    2016-17 Series III Up For Early Redemption On May 17; Know The Tax
                    Implication</a></li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/you-can-claim-exemption-on-cost-of-making-new-house-habitable-experts-122042801489_1.html" target="_blank">You can claim exemption on cost of making new house habitable:
                    Experts</a> </li>
            <li> <a aria-label="Twitter" href="https://www.moneycontrol.com/news/business/personal-finance/pan-aadhaar-to-be-must-for-cash-transactions-above-rs-20-lakh-a-year-8499841.html" target="_blank">PAN, Aadhaar a must for cash transactions above Rs 20 lakh a
                    year</a> </li>
            <li> <a aria-label="Twitter" href="https://www.moneycontrol.com/news/business/personal-finance/five-things-to-consider-before-you-opt-for-premature-withdrawal-from-sovereign-gold-bonds-8519881.html" target="_blank">Five things to consider before you opt for premature withdrawal
                    from sovereign gold bonds</a> </li>
            <li> <a aria-label="Twitter" href="https://www.moneycontrol.com/news/business/personal-finance/deposited-more-than-rs-50-lakh-in-your-savings-account-in-a-single-year-filing-income-tax-returns-has-become-compulsory-8396701.html" target="_blank">Deposited more than Rs 50 lakh in savings account in a single
                    year? Filing ITR has become compulsory</a> </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/seniors-need-to-submit-forms-12bba-15g-15h-to-save-on-tds-experts-122041901327_1.html" target="_blank">Seniors need to submit Forms 12BBA, 15G, 15H to save on TDS:
                    Experts</a> </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/how-investing-in-54ec-bonds-can-help-you-save-tax-on-long-term-gains-122041301467_1.html" target="_blank">How investing in 54EC bonds can help you save tax on long-term
                    gains</a> </li>
            <li> <a aria-label="Twitter" href="https://www.moneycontrol.com/news/business/personal-finance/new-income-tax-forms-are-out-for-new-assessment-year-2022-23-find-out-which-one-you-should-use-8306981.html" target="_blank">New income tax forms are out for new assessment year 2022-23.
                    Find out which one you should use</a> </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/new-itr-forms-need-income-disclosure-from-foreign-retirement-a-cs-122040200034_1.html" target="_blank">New ITR forms need income disclosure from foreign retirement
                    a/cs</a> </li>

            <li> <a aria-label="Twitter" href="https://www.financialexpress.com/money/income-tax/why-is-march-31-an-important-date-for-taxpayers-find-out/2472319/" target="_blank">Why is March 31 an important date for taxpayers? Find out</a>
            </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/markets/not-filed-itr-yet-face-penalty-or-even-jail-term-say-analysts-122032201406_1.html" target="_blank">Not filed ITR yet? Face penalty or even jail term, say
                    analysts</a> </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/are-you-paying-rent-to-wife-or-parent-you-can-claim-hra-exemption-on-it-122031600938_1.html" target="_blank">March 15 Is The Last Date To Pay Advance Tax: Time To Clear Your
                    Liability</a> </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/it-s-time-to-deduct-tds-if-rent-exceeds-rs-50-000-say-analysts-122031001602_1.html" target="_blank">It's time to deduct TDS if rent exceeds Rs 50,000, say
                    analysts</a> </li>
            <li> <a aria-label="Twitter" href="https://www.financialexpress.com/money/income-tax/how-are-sovereign-gold-bonds-taxed-tds-interest-income-early-redemption-explained/2455545/" target="_blank">Clarification on capital gains tax on early redemption of
                    Sovereign Gold Bonds is required – Here’s why</a> </li>
            <li> <a aria-label="Twitter" href="https://www.business-standard.com/article/pf/second-amendment-to-llp-rules-will-ease-procedural-burden-experts-122030801548_1.html" target="_blank">Second amendment to LLP Rules will ease procedural burden:
                    Experts</a> </li>
            <li> <a aria-label="Twitter" href="https://www.outlookindia.com/business/three-things-to-keep-in-mind-before-investing-in-rbi-s-sovereign-gold-bonds-news-184489" target="_blank">Three Things To Keep In Mind Before Investing In RBI’s Sovereign
                    Gold Bonds</a> </li>
            <li> <a aria-label="Twitter" href="https://www.taxmanager.in/pdf/bt_newtaxcode.pdf" target="_blank">Tackle low
                    liquidity in sovereign gold bonds by laddering, say analysts</a> </li>
            <li> <a aria-label="Twitter" href="#">CBDT, tax tools make e-filing of I-T returns
                    simpler</a> </li>
        </ul>
    </div>
    <div class="qurey">
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Name.:">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Email id.:">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Mobile No.:">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Enter Your Query"></textarea>
            </div>
            <div class="form-group">
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>